all_workflows.json
[{"updatedAt":"2026-03-01T15:26:47.902Z","createdAt":"2026-02-17T20:54:15.673Z","id":"PbSmiMrjVcLqSlBo","name":"Data Automation","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"weeks","triggerAtDay":[1],"triggerAtHour":18}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-752,1216],"id":"7e5bd6f2-badd-41e4-9672-279733acf98a","name":"Weekly Report Scheduler"},{"parameters":{"rule":{"interval":[{"field":"months","triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-784,16],"id":"7639b5ce-e044-49c3-b07c-10b52f81c356","name":"Monthly Report Scheduler"},{"parameters":{"content":"# AI Agent Data Fetching\n\nUsing 'Browser-Use' with Claude Opus 4.5 on localhost server\n","height":832,"width":384,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-320,1024],"typeVersion":1,"id":"5181811b-59b2-47b4-b367-c920a3084b75","name":"Sticky Note"},{"parameters":{"content":"# AI Data processing\n\nUsing ChatGPT 5.1 to clean and organise the data","height":528,"width":464,"color":3},"type":"n8n-nodes-base.stickyNote","position":[112,1024],"typeVersion":1,"id":"a2602aa8-566e-4b35-9749-1182420f9e52","name":"Sticky Note1"},{"parameters":{"method":"POST","url":"http://Olivers-MBP-6.mynet:3002/run-task","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"task\": \"Go to 'https://analytics.google.com/analytics/web/?pli=1#/a124382116p399448899/reports/explorer?params=_u..nav%3Dmaui%26_u.comparisonOption%3Ddisabled%26_u.date00%3D20260202%26_u.date01%3D20260215%26_r.explorerCard..rowsPerPage%3D25&collectionId=11113654410&ruid=f4b7cbea-3789-4f4d-9df7-ba150bce3a52&r=all-pages-and-screens'. Set the date range from {{ $('Fetch Date').first().json.startDate }} to {{ $('Fetch Date').first().json.endDate }} in the date range selector (Use the following format E.g. Feb 2, 2026 - Feb 9, 2026). Then click Apply (use javascript to find and click the apply button as the coordinate clicks and enter key will not work). Once you click apply, the table will reload with new table data. This is important - Please wait for the table to reload after you have clicked apply, and only then go through table and return the page views for the top 15 urls for newly generated table. The page views are in the 'Views' column, that sits next to 'Active User' column. Please  return the views in the views column, and the url associated to the view count.\",\n  \"task_type\": \"weekly_googleAnalytics_1\"\n}","options":{"timeout":600000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-176,1440],"id":"194a9232-2574-4d64-97ab-a22b22edc18f","name":"Google analytics Pauldavidsguitar.com"},{"parameters":{"method":"POST","url":"http://Olivers-MBP-6.mynet:3002/run-task","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"task\": \"Go to 'https://analytics.google.com/analytics/web/?pli=1#/a124382116p344748848/reports/explorer?params=_u..nav%3Dmaui%26_u.comparisonOption%3Ddisabled%26_u.date00%3D20260202%26_u.date01%3D20260215%26_r.explorerCard..rowsPerPage%3D25&collectionId=10591830489&ruid=all-pages-and-screens,life-cycle,engagement&r=all-pages-and-screens'. Type in the date range from {{ $('Fetch Date').first().json.startDate }} to {{ $('Fetch Date').first().json.endDate }}.  in the date range selector (Use the following format E.g. Feb 2, 2026 - Feb 9, 2026). Then click Apply (use javascript to find and click the apply button as the coordinate clicks and enter key will not work). Please wait for the table to reload after you have clicked apply. If you read that the first row is 13,091 for /enroll-acoustic-adventure, then you have not waited and must wait 10 seconds longer before reading the table. If you have waited and still see this, double check the date changed has applied and if not, try again. Once you have confirmed the table has reloaded and you do not see 13,091, go through the table and return the page views for the top 15 urls for newly generated table.  The page views are in the 'Views' column, that sits next to 'Active User' column. Please  return the views in the views column, and the url associated to the view count.\",\n  \"task_type\": \"weekly_googleAnalytics_2\"\n}","options":{"timeout":600000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-176,1664],"id":"e49a76b5-b1ae-4b89-a2d1-081b66bcdf5e","name":"Google analytics learnpractiseplay.com"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5.2","mode":"list","cachedResultName":"GPT-5.2"},"responses":{"values":[{"content":"=This data has been scraped from google analytics using a bot:\n\"{{ $json.result }}\n\n{{ $('Google analytics Pauldavidsguitar.com').item.json.result }}\"\n\n\nFor the scraped Google analytics data above, can you please calculate the sum of the page views for each product. Here is the rule to follow (add the totals for each page):\n\nLearn practise Play: /learn-practice-play/ + /signup/\n\nNext Level Playing: /next-level-playing/ + /next-level-signup/\n\nAcoustic Adventure: /acoustic-adventure/ + /enroll-acoustic-adventure/\n\nLoop school: /loop-school/ + /loop-school-signup/\n\nElectric Elevation: /electric-elevation/ + /electric-elevation-evergreen-signup/\n\nI have included the urls so you know what totals to reference, but your job is to combine the sum of each url page view\nSo it would be:\nlearn practise play: xx\nnext level playing: xx\n\nwhere xx would be the two urls page views summed\n\nPlease return the data like this:\n\nLPP unique page views: xx\nNLP unique page views: xx\nAA unique page views: xx\nLS unique page views: xx\nEE unique page views: xx\n\nLLP = Learn Practise Play \nNLP: next level playing \nAA: Acoustic Adventure\nLS: Loop school\nEE: electric elevation\n\nDo not provide a breakdown, just the data asked above"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[224,1328],"id":"47e6446a-d7ba-44d8-a720-b7b5dd942301","name":"AI Google Analytics Clean","credentials":{"openAiApi":{"id":"sPZND04eFxlGkbPq","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5.1","mode":"list","cachedResultName":"GPT-5.1"},"responses":{"values":[{"content":"=\n{{ $('Sam Cart Data').item.json.result }}\n\n\nFor the sam cart data above, can you please sum up the total orders for each product (combining orders, payment plan and order bumps) and calculate the sam cart order data. i.e.\n\nLearn practise play: xx\nAcoustic Adventure: xx\n\nwhere xx represents the total sum of the products orders + payment plan orders + order bump orders\n\nPlease return the data like this:\n\nLPP Sales: xx\nNLP Sales: xx\nSales: xx\nSales: xx\nSales: xx\n\nLLP = Learn Practise Play \nNLP: next level playing \nAA: Acoustic Adventure\nLS: Loop school\nEE: electric elevation\n\nDo not include a breakdown, just the above. "}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[224,1168],"id":"3952ff8f-1037-4ab3-b168-9672e00038c6","name":"AI Sam Cart Clean","credentials":{"openAiApi":{"id":"sPZND04eFxlGkbPq","name":"OpenAi account"}}},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[736,1232],"id":"039e9167-08fb-4300-b907-248c90ecf6b8","name":"Merge"},{"parameters":{"url":"https://sheets.googleapis.com/v4/spreadsheets/1yv_hWzngxl6YqRByJjYbKvfQ5_VpPGHTeShCiH8DSqc/values/'Data Weekly'!1:1?majorDimension=ROWS&valueRenderOption=FORMATTED_VALUE","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[928,1232],"id":"25eaed37-0dc0-4d7e-8d4e-17a7a82990be","name":"Get SpreadSheet Row Data","credentials":{"googleSheetsOAuth2Api":{"id":"GMLNaoDsMrvTFDp0","name":"Google Sheets account"}}},{"parameters":{"content":"# Preparing Data for Google Sheets\n\n\nMerging GPT results, calling Sheets through API GET request to check the rows on the sheet and some code to preparation data for google sheets insertion. ","height":400,"width":656,"color":4},"type":"n8n-nodes-base.stickyNote","position":[656,1024],"typeVersion":1,"id":"b77fcad1-99fc-428b-b681-6fe393715e19","name":"Sticky Note2"},{"parameters":{"content":"# Inserting into Google Sheets\n\nCalling the Google Sheets API's to insert the data\n","height":400,"width":720,"color":5},"type":"n8n-nodes-base.stickyNote","position":[1392,1024],"typeVersion":1,"id":"72af9fc2-0372-4a22-950a-c2ab79797eda","name":"Sticky Note3"},{"parameters":{"jsCode":"// Get row 1 data from direct input (GET request)\nconst row1 = $input.first().json.values?.[0] || [];\nconst nextCol = row1.length;\n\nfunction colToLetter(col) {\n  let letter = '';\n  while (col >= 0) {\n    letter = String.fromCharCode((col % 26) + 65) + letter;\n    col = Math.floor(col / 26) - 1;\n  }\n  return letter;\n}\n\nconst colLetter = colToLetter(nextCol);\nconst c = colLetter;\n\n// Calculate next week date\nconst lastDateStr = row1[row1.length - 1];\nconst parts = lastDateStr.split('-');\nconst months = {'Jan':0,'Feb':1,'Mar':2,'Apr':3,'May':4,'Jun':5,'Jul':6,'Aug':7,'Sep':8,'Oct':9,'Nov':10,'Dec':11};\nconst lastDate = new Date(parseInt(parts[2]), months[parts[1]], parseInt(parts[0]));\nconst nextMonday = new Date(lastDate);\nnextMonday.setDate(lastDate.getDate() + 7);\nconst weekStarting = `${nextMonday.getDate()}-${nextMonday.toLocaleString('en-GB', {month: 'short'})}-${nextMonday.getFullYear()}`;\n\n// Get sales and views from Merge node\n// CHANGE 'Merge' to your actual Merge node name\nconst mergeData = $('Merge').all();\nconst salesText = mergeData[0].json.output[0].content[0].text;\nconst viewsText = mergeData[1].json.output[0].content[0].text;\n\nconst sales = {};\nsalesText.split('\\n').forEach(line => {\n  const match = line.match(/(\\w+) Sales:\\s*([\\d,]+)/);\n  if (match) sales[match[1]] = parseInt(match[2].replace(/,/g, ''));\n});\n\nconst views = {};\nviewsText.split('\\n').forEach(line => {\n  const match = line.match(/(\\w+) unique page views:\\s*([\\d,]+)/);\n  if (match) views[match[1]] = parseInt(match[2].replace(/,/g, ''));\n});\n\nconst values = [\n  [weekStarting],\n  [''],\n  [views['LPP'] || 0],\n  [`=IF(${c}3>0,${c}5/${c}3,0)`],\n  [sales['LPP'] || 0],\n  [views['NLP'] || 0],\n  [`=IF(${c}6>0,${c}8/${c}6,0)`],\n  [sales['NLP'] || 0],\n  [views['AA'] || 0],\n  [`=IF(${c}9>0,${c}11/${c}9,0)`],\n  [sales['AA'] || 0],\n  [views['LS'] || 0],\n  [`=IF(${c}12>0,${c}14/${c}12,0)`],\n  [sales['LS'] || 0],\n  [views['EE'] || 0],\n  [`=IF(${c}15>0,${c}17/${c}15,0)`],\n  [sales['EE'] || 0],\n  [`=${c}3+${c}6+${c}9+${c}12+${c}15`],\n  [`=IF(${c}18>0,${c}20/${c}18,0)`],\n  [`=${c}5+${c}8+${c}11+${c}14+${c}17`],\n];\n\nreturn [{ \n  json: { \n    range: `'Data Weekly'!${c}1:${c}20`,\n    values,\n    colIndex: nextCol\n  } \n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,1232],"id":"9b6b4e92-4d18-4e98-92b0-dd45c1e635fe","name":"Weekly Data Code Prep"},{"parameters":{"method":"POST","url":"=https://sheets.googleapis.com/v4/spreadsheets/1yv_hWzngxl6YqRByJjYbKvfQ5_VpPGHTeShCiH8DSqc:batchUpdate","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"requests\": [\n    {\n      \"appendDimension\": {\n        \"sheetId\": 1514970846,\n        \"dimension\": \"COLUMNS\",\n        \"length\": 1\n      }\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1488,1232],"id":"956c6bb7-c20c-40ab-8089-954593644be4","name":"Put Column in Google Sheet - Data Weekly","credentials":{"googleSheetsOAuth2Api":{"id":"GMLNaoDsMrvTFDp0","name":"Google Sheets account"}}},{"parameters":{"method":"PUT","url":"=https://sheets.googleapis.com/v4/spreadsheets/1yv_hWzngxl6YqRByJjYbKvfQ5_VpPGHTeShCiH8DSqc/values/{{ $('Weekly Data Code Prep').first().json.range }}?valueInputOption=USER_ENTERED\n","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={\"values\": {{ JSON.stringify($('Weekly Data Code Prep').first().json.values) }}}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1696,1232],"id":"4559c912-d0ae-43b1-a113-e586594186f0","name":"Put Data into Google Sheet - Data Weekly","credentials":{"googleSheetsOAuth2Api":{"id":"GMLNaoDsMrvTFDp0","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"=https://sheets.googleapis.com/v4/spreadsheets/1yv_hWzngxl6YqRByJjYbKvfQ5_VpPGHTeShCiH8DSqc:batchUpdate","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"requests\": [\n    {\n      \"updateBorders\": {\n        \"range\": {\n          \"sheetId\": 1514970846,\n          \"startRowIndex\": 4,\n          \"endRowIndex\": 5,\n          \"startColumnIndex\": {{ $('Weekly Data Code Prep').first().json.colIndex }},\n          \"endColumnIndex\": {{ $('Weekly Data Code Prep').first().json.colIndex + 1 }}\n        },\n        \"bottom\": { \"style\": \"SOLID\", \"width\": 1, \"color\": { \"red\": 0, \"green\": 0, \"blue\": 0 } }\n      }\n    },\n    {\n      \"updateBorders\": {\n        \"range\": {\n          \"sheetId\": 1514970846,\n          \"startRowIndex\": 7,\n          \"endRowIndex\": 8,\n          \"startColumnIndex\": {{ $('Weekly Data Code Prep').first().json.colIndex }},\n          \"endColumnIndex\": {{ $('Weekly Data Code Prep').first().json.colIndex + 1 }}\n        },\n        \"bottom\": { \"style\": \"SOLID\", \"width\": 1, \"color\": { \"red\": 0, \"green\": 0, \"blue\": 0 } }\n      }\n    },\n    {\n      \"updateBorders\": {\n        \"range\": {\n          \"sheetId\": 1514970846,\n          \"startRowIndex\": 10,\n          \"endRowIndex\": 11,\n          \"startColumnIndex\": {{ $('Weekly Data Code Prep').first().json.colIndex }},\n          \"endColumnIndex\": {{ $('Weekly Data Code Prep').first().json.colIndex + 1 }}\n        },\n        \"bottom\": { \"style\": \"SOLID\", \"width\": 1, \"color\": { \"red\": 0, \"green\": 0, \"blue\": 0 } }\n      }\n    },\n    {\n      \"updateBorders\": {\n        \"range\": {\n          \"sheetId\": 1514970846,\n          \"startRowIndex\": 13,\n          \"endRowIndex\": 14,\n          \"startColumnIndex\": {{ $('Weekly Data Code Prep').first().json.colIndex }},\n          \"endColumnIndex\": {{ $('Weekly Data Code Prep').first().json.colIndex + 1 }}\n        },\n        \"bottom\": { \"style\": \"SOLID\", \"width\": 1, \"color\": { \"red\": 0, \"green\": 0, \"blue\": 0 } }\n      }\n    },\n    {\n      \"updateBorders\": {\n        \"range\": {\n          \"sheetId\": 1514970846,\n          \"startRowIndex\": 16,\n          \"endRowIndex\": 17,\n          \"startColumnIndex\": {{ $('Weekly Data Code Prep').first().json.colIndex }},\n          \"endColumnIndex\": {{ $('Weekly Data Code Prep').first().json.colIndex + 1 }}\n        },\n        \"bottom\": { \"style\": \"SOLID\", \"width\": 1, \"color\": { \"red\": 0, \"green\": 0, \"blue\": 0 } }\n      }\n    },\n    {\n      \"updateBorders\": {\n        \"range\": {\n          \"sheetId\": 1514970846,\n          \"startRowIndex\": 19,\n          \"endRowIndex\": 20,\n          \"startColumnIndex\": {{ $('Weekly Data Code Prep').first().json.colIndex }},\n          \"endColumnIndex\": {{ $('Weekly Data Code Prep').first().json.colIndex + 1 }}\n        },\n        \"bottom\": { \"style\": \"SOLID\", \"width\": 1, \"color\": { \"red\": 0, \"green\": 0, \"blue\": 0 } }\n      }\n    },\n    {\n      \"updateChartSpec\": {\n        \"chartId\": 431697135,\n        \"spec\": {\n          \"title\": \"TOTAL SALES\",\n          \"basicChart\": {\n            \"chartType\": \"LINE\",\n            \"axis\": [\n              {\n                \"position\": \"BOTTOM_AXIS\",\n                \"viewWindowOptions\": {}\n              },\n              {\n                \"position\": \"LEFT_AXIS\",\n                \"viewWindowOptions\": {\n                  \"viewWindowMin\": 30\n                }\n              }\n            ],\n            \"domains\": [\n              {\n                \"domain\": {\n                  \"sourceRange\": {\n                    \"sources\": [\n                      {\n                        \"sheetId\": 1514970846,\n                        \"startRowIndex\": 0,\n                        \"endRowIndex\": 1,\n                        \"startColumnIndex\": 0,\n                        \"endColumnIndex\": {{ $('Weekly Data Code Prep').first().json.colIndex + 1 }}\n                      }\n                    ]\n                  }\n                }\n              }\n            ],\n            \"series\": [\n              {\n                \"series\": {\n                  \"sourceRange\": {\n                    \"sources\": [\n                      {\n                        \"sheetId\": 1514970846,\n                        \"startRowIndex\": 19,\n                        \"endRowIndex\": 20,\n                        \"startColumnIndex\": 0,\n                        \"endColumnIndex\": {{ $('Weekly Data Code Prep').first().json.colIndex + 1 }}\n                      }\n                    ]\n                  }\n                },\n                \"targetAxis\": \"LEFT_AXIS\",\n                \"dataLabel\": {\n                  \"type\": \"NONE\",\n                  \"textFormat\": {\n                    \"fontFamily\": \"Roboto\"\n                  }\n                }\n              }\n            ],\n            \"headerCount\": 1\n          },\n          \"hiddenDimensionStrategy\": \"SKIP_HIDDEN_ROWS_AND_COLUMNS\",\n          \"titleTextFormat\": {\n            \"fontFamily\": \"Roboto\"\n          },\n          \"fontName\": \"Roboto\"\n        }\n      }\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1904,1232],"id":"bd84f451-1586-46c9-9dca-3e7dd5abd573","name":"Format Data & Update Weekly Graph","credentials":{"googleSheetsOAuth2Api":{"id":"GMLNaoDsMrvTFDp0","name":"Google Sheets account"}}},{"parameters":{"jsCode":"const today = new Date();\nconst dayOfWeek = today.getDay(); // 0=Sun, 1=Mon, ...\n\n// Last Monday = go back to this Monday, then subtract 7\nconst thisMonday = new Date(today);\nthisMonday.setDate(today.getDate() - (dayOfWeek === 0 ? 6 : dayOfWeek - 1));\nconst lastMonday = new Date(thisMonday);\nlastMonday.setDate(thisMonday.getDate() - 7);\nconst lastSunday = new Date(lastMonday);\nlastSunday.setDate(lastMonday.getDate() + 6);\n\n// Format as \"Feb 10, 2026\" for SamCart\nconst months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];\nconst startDate = `${months[lastMonday.getMonth()]} ${lastMonday.getDate()}, ${lastMonday.getFullYear()}`;\nconst endDate = `${months[lastSunday.getMonth()]} ${lastSunday.getDate()}, ${lastSunday.getFullYear()}`;\n\nreturn [{\n  json: {\n    startDate,\n    endDate,\n    // Also useful for GA which might need different format\n    startISO: lastMonday.toISOString().split('T')[0],\n    endISO: lastSunday.toISOString().split('T')[0],\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-512,1216],"id":"e90805d7-35bd-4336-9953-b37eb487b971","name":"Fetch Date"},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot8420993416:AAHlhlAg06Qi-EbBWx34uNOA38KmM45ucRo/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chat_id\": 8079443961,\n  \"parse_mode\": \"HTML\",\n  \"text\": \"✅ <b>Weekly Report Complete</b>\\n\\n📊 Data written to Google Sheets\\n\\n📅 Week: {{ $('Fetch Date').first().json.startDate }} - {{ $('Fetch Date').first().json.endDate }}\\n\\n<b>Sales:</b>\\nLPP: {{ $('Weekly Data Code Prep').first().json.values[4][0] }}\\nNLP: {{ $('Weekly Data Code Prep').first().json.values[7][0] }}\\nAA: {{ $('Weekly Data Code Prep').first().json.values[10][0] }}\\nLS: {{ $('Weekly Data Code Prep').first().json.values[13][0] }}\\nEE: {{ $('Weekly Data Code Prep').first().json.values[16][0] }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2272,1232],"id":"f72f668d-3f08-469d-98c9-e276993fdb3e","name":"Notify Via Telegram"},{"parameters":{"content":"# Send Completion Notification\n\nSend Telegram message to notify workflow is complete\n","height":400,"width":320,"color":2},"type":"n8n-nodes-base.stickyNote","position":[2176,1024],"typeVersion":1,"id":"0bb90802-75e3-40fc-8828-d3cb44670313","name":"Sticky Note4"},{"parameters":{"content":"# Weekly Data Flow\n","height":368,"width":432,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-784,1104],"typeVersion":1,"id":"33cecf3e-0e15-4f31-8ef2-16c2960c57ef","name":"Sticky Note5"},{"parameters":{"content":"# Monthly Data Flow\n","height":368,"width":464,"color":7},"type":"n8n-nodes-base.stickyNote","position":[-832,-96],"typeVersion":1,"id":"0f0e8718-6a3f-4af1-9946-2cd7c5cccee5","name":"Sticky Note6"},{"parameters":{"content":"# AI Agent Data Fetching\n\nUsing 'Browser-Use' with Claude Opus 4.5 on localhost server\n","height":1056,"width":384,"color":2},"type":"n8n-nodes-base.stickyNote","position":[-336,-176],"typeVersion":1,"id":"5a9ff952-3845-468a-8a29-f1d6f35da811","name":"Sticky Note7"},{"parameters":{"content":"# AI Data processing\n\nUsing ChatGPT 5.1 to clean and organise the data","height":768,"width":464,"color":3},"type":"n8n-nodes-base.stickyNote","position":[96,-176],"typeVersion":1,"id":"e90b8a1e-e197-4a38-8612-9bc92522df1f","name":"Sticky Note8"},{"parameters":{"method":"POST","url":"http://Olivers-MBP-6.mynet:3002/run-task","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"task\": \"Go to https://app.samcart.com/marketplace/pauldavids/analytics/products. Set date range from {{ $json.startDate }} to {{ $json.endDate }}. To change the date, type it in the field rather than trying to select the specific dates on the date selector calendar as sam cart is quite fiddly (E.g. for the date, it is formatted like this: 'Feb 10, 2026' so don't use this formatting: '2026-02-10'). There are two date selectors so choose the second one as that one changes the table data. Once you have typed it in, you then need to click off the date selector on the page for it to reload the table data with the new data. Return the orders for each product. The orders number is the number on the orders column. Ensure you select only this number and do so correctly. For context, it is the column inbetween 'Views' and 'Conversions'. It is not the 'Paypal Orders' or 'Credit card orders' value. Always read order counts directly from the Orders column cell in the analytics table. Do NOT click into any product detail page to count orders. If a cell appears visually empty, extract the raw text content of that cell — the number is in the table. Do not navigate away from the analytics page to verify any figures. Click through the paginator at bottom of table to make sure you get all data from the table.\",\n  \"task_type\": \"monthly_samcart_orders\"\n}","options":{"timeout":900000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-192,16],"id":"08a1833a-d1d0-4af2-953d-ca6c1b02dbee","name":"Sam Cart Data Monthly"},{"parameters":{"method":"POST","url":"http://Olivers-MBP-6.mynet:3002/run-task","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"task\": \"Go to 'https://analytics.google.com/analytics/web/?pli=1#/a124382116p399448899/reports/explorer?params=_u..nav%3Dmaui%26_u.comparisonOption%3Ddisabled%26_u.date00%3D20260202%26_u.date01%3D20260215%26_r.explorerCard..rowsPerPage%3D25&collectionId=11113654410&ruid=f4b7cbea-3789-4f4d-9df7-ba150bce3a52&r=all-pages-and-screens'. Set the date range from {{ $('Fetch Date Monthly').first().json.startDate }} to {{ $('Fetch Date Monthly').first().json.endDate }} in the date range selector (Use the following format E.g. Feb 2, 2026 - Feb 9, 2026). Then click Apply (use javascript to find and click the apply button as the coordinate clicks and enter key will not work). Once you click apply, the table will reload with new table data. This is important - Please wait for the table to reload after you have clicked apply, and only then go through table and return the page views for the top 15 urls for newly generated table. The page views are in the 'Views' column, that sits next to 'Active User' column. Please  return the views in the views column, and the url associated to the view count.\",\n  \"task_type\": \"monthly_googleAnalytics_1\"\n}","options":{"timeout":600000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-192,240],"id":"fc91e754-a781-41ca-86ae-c5d466222b6b","name":"Google analytics Pauldavidsguitar.com Monthly"},{"parameters":{"method":"POST","url":"http://Olivers-MBP-6.mynet:3002/run-task","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"task\": \"Go to 'https://analytics.google.com/analytics/web/?pli=1#/a124382116p344748848/reports/explorer?params=_u..nav%3Dmaui%26_u.comparisonOption%3Ddisabled%26_u.date00%3D20260202%26_u.date01%3D20260215%26_r.explorerCard..rowsPerPage%3D25&collectionId=10591830489&ruid=all-pages-and-screens,life-cycle,engagement&r=all-pages-and-screens'. Type in the date range from {{ $('Fetch Date Monthly').first().json.startDate }} to {{ $('Fetch Date Monthly').first().json.endDate }}.  in the date range selector (Use the following format E.g. Feb 2, 2026 - Feb 9, 2026). Then click Apply (use javascript to find and click the apply button as the coordinate clicks and enter key will not work). PPlease wait for the table to reload after you have clicked apply. If you read that the first row is 13,091 for /enroll-acoustic-adventure, then you have not waited and must wait 10 seconds longer before reading the table. If you have waited and still see this, double check the date changed has applied and if not, try again. Once you have confirmed the table has reloaded and you do not see 13,091, go through the table and return the page views for the top 15 urls for newly generated table.  The page views are in the 'Views' column, that sits next to 'Active User' column. Please  return the views in the views column, and the url associated to the view count.\",\n  \"task_type\": \"monthly_googleAnalytics_2\"\n}","options":{"timeout":600000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-192,464],"id":"cd68cae5-dc95-4c8b-8ac0-ff89dc995066","name":"Google analytics learnpractiseplay.com Monthly"},{"parameters":{"content":"# Preparing Data for Google Sheets\n\n\nCombing n8n, a get request to check the rows on the sheet and some code to prepare the data","height":640,"width":688,"color":4},"type":"n8n-nodes-base.stickyNote","position":[624,-144],"typeVersion":1,"id":"372bb0af-aa5d-4152-8167-a2027854d5e5","name":"Sticky Note9"},{"parameters":{"url":"=https://sheets.googleapis.com/v4/spreadsheets/1yv_hWzngxl6YqRByJjYbKvfQ5_VpPGHTeShCiH8DSqc/values/'Data Monthly'!1:1?majorDimension=ROWS&valueRenderOption=FORMATTED_VALUE","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[912,32],"id":"8b383ec3-29f9-4ee2-96d9-86e9dc1b2d5a","name":"Get SpreadSheet Row Data Monthly","credentials":{"googleSheetsOAuth2Api":{"id":"GMLNaoDsMrvTFDp0","name":"Google Sheets account"}}},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[704,32],"id":"18c975a6-ac1b-4130-b861-fa09ed9bda05","name":"Merge Monthly"},{"parameters":{"jsCode":"// Get row 1 data from direct input (GET request)\nconst row1 = $input.first().json.values?.[0] || [];\nconst nextCol = row1.length;\n\nfunction colToLetter(col) {\n  let letter = '';\n  while (col >= 0) {\n    letter = String.fromCharCode((col % 26) + 65) + letter;\n    col = Math.floor(col / 26) - 1;\n  }\n  return letter;\n}\n\nconst colLetter = colToLetter(nextCol);\nconst c = colLetter;\n\n// Calculate next month from the last column header\nconst lastDateStr = row1[row1.length - 1];\nconst monthNames = ['January','February','March','April','May','June','July','August','September','October','November','December'];\nconst parts = lastDateStr.split(' ');\nconst monthIndex = monthNames.indexOf(parts[0]);\nconst year = parseInt(parts[1]);\n\nconst nextMonthDate = new Date(year, monthIndex + 1, 1);\nconst monthHeader = `${monthNames[nextMonthDate.getMonth()]} ${nextMonthDate.getFullYear()}`;\n\n// Get sales, views, and leads from Merge node\nconst mergeData = $('Merge Monthly').all();\nconst salesText = mergeData[0].json.output[0].content[0].text;\nconst viewsText = mergeData[1].json.output[0].content[0].text;\nconst leadsText = mergeData[2].json.output[0].content[0].text;\n\n// Parse sales - separate core+plan from order bump\nconst coreSales = {};\nconst bumpSales = {};\nlet currentSection = '';\n\nsalesText.split('\\n').forEach(line => {\n  const trimmed = line.trim();\n  if (trimmed.toLowerCase().startsWith('core')) {\n    currentSection = 'core';\n    return;\n  }\n  if (trimmed.toLowerCase().startsWith('order bump')) {\n    currentSection = 'bump';\n    return;\n  }\n  const match = trimmed.match(/(\\w+) Sales:\\s*([\\d,]+)/);\n  if (match) {\n    const key = match[1];\n    const val = parseInt(match[2].replace(/,/g, ''));\n    if (currentSection === 'bump') {\n      bumpSales[key] = val;\n    } else {\n      coreSales[key] = val;\n    }\n  }\n});\n\n// Parse views\nconst views = {};\nviewsText.split('\\n').forEach(line => {\n  const match = line.match(/(\\w+) unique page views:\\s*([\\d,]+)/);\n  if (match) views[match[1]] = parseInt(match[2].replace(/,/g, ''));\n});\n\n// Parse leads and unsubscribes\nlet totalNewLeads = 0;\nlet unsubscribes = 0;\nleadsText.split('\\n').forEach(line => {\n  const leadsMatch = line.match(/Total new leads:\\s*([\\d,]+)/i);\n  if (leadsMatch) totalNewLeads = parseInt(leadsMatch[1].replace(/,/g, ''));\n  const unsubMatch = line.match(/Unsubscribes:\\s*([\\d,]+)/i);\n  if (unsubMatch) unsubscribes = parseInt(unsubMatch[1].replace(/,/g, ''));\n});\n\nconst totalViews = (views['LPP'] || 0) + (views['NLP'] || 0) + (views['AA'] || 0) + (views['LS'] || 0) + (views['EE'] || 0);\nconst totalCoreSales = (coreSales['LPP'] || 0) + (coreSales['NLP'] || 0) + (coreSales['AA'] || 0) + (coreSales['LS'] || 0) + (coreSales['EE'] || 0);\nconst totalBumpSales = (bumpSales['LPP'] || 0) + (bumpSales['NLP'] || 0) + (bumpSales['AA'] || 0) + (bumpSales['LS'] || 0) + (bumpSales['EE'] || 0);\n\nconst values = [\n  [monthHeader],                                     // Row 1: Month header\n  [''],                                              // Row 2: Sales Page performance\n  [1],                                               // Row 3: LPP Bonus unique page views (legacy)\n  [`=IF(${c}3>0,${c}5/${c}3,0)`],                   // Row 4: Conversion rate (legacy)\n  [0],                                               // Row 5: Sales (legacy)\n  [views['LPP'] || 0],                               // Row 6: LPP No Bonus unique page views\n  [`=IF(${c}6>0,${c}8/${c}6,0)`],                   // Row 7: LPP conversion\n  [coreSales['LPP'] || 0],                           // Row 8: LPP core sales\n  [views['NLP'] || 0],                               // Row 9: NLP unique page views\n  [`=IF(${c}9>0,${c}11/${c}9,0)`],                  // Row 10: NLP conversion\n  [coreSales['NLP'] || 0],                           // Row 11: NLP core sales\n  [views['AA'] || 0],                                // Row 12: AA unique page views\n  [`=IF(${c}12>0,${c}14/${c}12,0)`],                // Row 13: AA conversion\n  [coreSales['AA'] || 0],                            // Row 14: AA core sales\n  [views['LS'] || 0],                                // Row 15: LS unique page views\n  [`=IF(${c}15>0,${c}17/${c}15,0)`],                // Row 16: LS conversion\n  [coreSales['LS'] || 0],                            // Row 17: LS core sales\n  [views['EE'] || 0],                                // Row 18: EE unique page views\n  [`=IF(${c}18>0,${c}20/${c}18,0)`],                // Row 19: EE conversion\n  [coreSales['EE'] || 0],                            // Row 20: EE core sales\n  [bumpSales['LPP'] || 0],                           // Row 21: LPP Order Bump\n  [bumpSales['NLP'] || 0],                           // Row 22: NLP Order Bump\n  [bumpSales['AA'] || 0],                            // Row 23: AA Order Bump\n  [bumpSales['LS'] || 0],                            // Row 24: LS Order Bump\n  [bumpSales['EE'] || 0],                            // Row 25: EE Order Bump\n  [`=${c}8+${c}11+${c}14+${c}17+${c}20+${c}21+${c}22+${c}23+${c}24+${c}25`], // Row 26: Total sales all courses\n  [''],                                              // Row 27: blank\n  [totalNewLeads],                                   // Row 28: Total new Leads\n  [unsubscribes],                                    // Row 29: Unsubscribes\n];\n\nreturn [{ \n  json: { \n    range: `'Data Monthly'!${c}1:${c}29`,\n    values,\n    colIndex: nextCol,\n    totalViews,\n    totalCoreSales,\n    totalBumpSales,\n    totalAllSales: totalCoreSales + totalBumpSales,\n    totalNewLeads,\n    unsubscribes\n  } \n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,32],"id":"316bcaf3-975a-4e9e-82fe-40e493bfc06e","name":"Monthly Data Code Prep"},{"parameters":{"content":"# Inserting into Google Sheets\n\nCalling the Google Sheets ApI\n","height":656,"width":848,"color":5},"type":"n8n-nodes-base.stickyNote","position":[1424,-144],"typeVersion":1,"id":"e6249112-aabe-4acb-b19c-98d99a1af31d","name":"Sticky Note10"},{"parameters":{"jsCode":"const today = new Date();\n\n// First day of previous month\nconst firstDay = new Date(today.getFullYear(), today.getMonth() - 1, 1);\n\n// Last day of previous month\nconst lastDay = new Date(today.getFullYear(), today.getMonth(), 0);\n\n// Format as \"Feb 1, 2026\" for SamCart\nconst months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];\nconst startDate = `${months[firstDay.getMonth()]} ${firstDay.getDate()}, ${firstDay.getFullYear()}`;\nconst endDate = `${months[lastDay.getMonth()]} ${lastDay.getDate()}, ${lastDay.getFullYear()}`;\n\nreturn [{\n  json: {\n    startDate,\n    endDate,\n    startISO: firstDay.toISOString().split('T')[0],\n    endISO: lastDay.toISOString().split('T')[0],\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[-544,16],"id":"32fb7e5f-9570-4239-b0ff-2b3de2d57410","name":"Fetch Date Monthly"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5.1","mode":"list","cachedResultName":"GPT-5.1"},"responses":{"values":[{"content":"={{ $json.result }}\n\n{{ $('Google analytics Pauldavidsguitar.com Monthly').item.json.result }}\n\n\n\nFor the Google analytics data above, can you please calculate the sum of the page views for each product. Here is the rule to follow (add the totals for each page):\nLearn practise Play: /learn-practice-play/ + /signup/\n\nNext Level Playing: /next-level-playing/ + /next-level-signup/ Please can you format all this data into something readible?\n\nAcoustic Adventure: /acoustic-adventure/ + /enroll-acoustic-adventure/\n\nLoop school: /loop-school/ + /loop-school-signup/\n\nElectric Elevation: /electric-elevation/ + /electric-elevation-evergreen-signup/\n\nI have included the urls so you know what totals to reference, but your job is to combine the sum of each url page view\nSo it would be:\nlearn practise play: xx\nnext level playing: xx\n\nwhere xx would be the two urls page views summed\n\nPlease return the data like this:\n\nLPP unique page views: xx\nNLP unique page views: xx\nAA unique page views: xx\nLS unique page views: xx\nEE unique page views: xx\n\nLLP = Learn Practise Play \nNLP: next level playing \nAA: Acoustic Adventure\nLS: Loop school\nEE: electric elevation\n\nDo not provide a breakdown, just the data asked above"}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[208,176],"id":"f2b46672-b5c4-4c42-9b4b-2f047a6556f7","name":"AI Google Analytics Clean Monthly","credentials":{"openAiApi":{"id":"sPZND04eFxlGkbPq","name":"OpenAi account"}}},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5.1","mode":"list","cachedResultName":"GPT-5.1"},"responses":{"values":[{"content":"=\n{{ $('Sam Cart Data Monthly').item.json.result }}\n\n\nFor the sam cart data above, can you please sum up the total orders for each product (Total orders = (Payment plan orders + normal orders) and calculate the sam cart order data. In this calculation, exclude the order nump order figures. we will do that seperately after. display like this: i.e.\n\nLearn practise play: xx\nAcoustic Adventure: xx\n\nwhere xx represents the total sum of the products orders + payment plan orders\n\nPlease return the data like this:\n\nLPP Sales: xx\nNLP Sales: xx\nAA Sales: xx\nLS Sales: xx\nEE Sales: xx\n\nLLP = Learn Practise Play \nNLP: next level playing \nAA: Acoustic Adventure\nLS: Loop school\nEE: electric elevation\n\nAnd do the same, but then just for the order bump figures. \n\nSeperate the data by one title 'Core + plan' and 'Order bump'.\n\nCross check that you have calculated all the sums correctly\n\nDo not include a breakdown, or any bracketed labelling. Only just the above. "}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[208,-32],"id":"63aae17e-6a08-43a9-84f9-88bb1d65a1db","name":"AI Sam Cart Clean Monthly","credentials":{"openAiApi":{"id":"sPZND04eFxlGkbPq","name":"OpenAi account"}}},{"parameters":{"method":"PUT","url":"=https://sheets.googleapis.com/v4/spreadsheets/1yv_hWzngxl6YqRByJjYbKvfQ5_VpPGHTeShCiH8DSqc/values/{{ $('Monthly Data Code Prep').first().json.range }}?valueInputOption=USER_ENTERED\n","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={\"values\": {{ JSON.stringify($('Monthly Data Code Prep').first().json.values) }}}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1728,32],"id":"39ce8303-dfb8-4514-877a-f15ea6627c1d","name":"Put Data into Google Sheet - Data Monthly","credentials":{"googleSheetsOAuth2Api":{"id":"GMLNaoDsMrvTFDp0","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"=https://sheets.googleapis.com/v4/spreadsheets/1yv_hWzngxl6YqRByJjYbKvfQ5_VpPGHTeShCiH8DSqc:batchUpdate","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"requests\": [\n    {\n      \"updateBorders\": {\n        \"range\": {\n          \"sheetId\": 1907343975,\n          \"startRowIndex\": 4,\n          \"endRowIndex\": 5,\n          \"startColumnIndex\": {{ $('Monthly Data Code Prep').first().json.colIndex }},\n          \"endColumnIndex\": {{ $('Monthly Data Code Prep').first().json.colIndex + 1 }}\n        },\n        \"bottom\": { \"style\": \"SOLID\", \"width\": 1, \"color\": { \"red\": 0, \"green\": 0, \"blue\": 0 } }\n      }\n    },\n    {\n      \"updateBorders\": {\n        \"range\": {\n          \"sheetId\": 1907343975,\n          \"startRowIndex\": 7,\n          \"endRowIndex\": 8,\n          \"startColumnIndex\": {{ $('Monthly Data Code Prep').first().json.colIndex }},\n          \"endColumnIndex\": {{ $('Monthly Data Code Prep').first().json.colIndex + 1 }}\n        },\n        \"bottom\": { \"style\": \"SOLID\", \"width\": 1, \"color\": { \"red\": 0, \"green\": 0, \"blue\": 0 } }\n      }\n    },\n    {\n      \"updateBorders\": {\n        \"range\": {\n          \"sheetId\": 1907343975,\n          \"startRowIndex\": 10,\n          \"endRowIndex\": 11,\n          \"startColumnIndex\": {{ $('Monthly Data Code Prep').first().json.colIndex }},\n          \"endColumnIndex\": {{ $('Monthly Data Code Prep').first().json.colIndex + 1 }}\n        },\n        \"bottom\": { \"style\": \"SOLID\", \"width\": 1, \"color\": { \"red\": 0, \"green\": 0, \"blue\": 0 } }\n      }\n    },\n    {\n      \"updateBorders\": {\n        \"range\": {\n          \"sheetId\": 1907343975,\n          \"startRowIndex\": 13,\n          \"endRowIndex\": 14,\n          \"startColumnIndex\": {{ $('Monthly Data Code Prep').first().json.colIndex }},\n          \"endColumnIndex\": {{ $('Monthly Data Code Prep').first().json.colIndex + 1 }}\n        },\n        \"bottom\": { \"style\": \"SOLID\", \"width\": 1, \"color\": { \"red\": 0, \"green\": 0, \"blue\": 0 } }\n      }\n    },\n    {\n      \"updateBorders\": {\n        \"range\": {\n          \"sheetId\": 1907343975,\n          \"startRowIndex\": 16,\n          \"endRowIndex\": 17,\n          \"startColumnIndex\": {{ $('Monthly Data Code Prep').first().json.colIndex }},\n          \"endColumnIndex\": {{ $('Monthly Data Code Prep').first().json.colIndex + 1 }}\n        },\n        \"bottom\": { \"style\": \"SOLID\", \"width\": 1, \"color\": { \"red\": 0, \"green\": 0, \"blue\": 0 } }\n      }\n    },\n    {\n      \"updateBorders\": {\n        \"range\": {\n          \"sheetId\": 1907343975,\n          \"startRowIndex\": 19,\n          \"endRowIndex\": 20,\n          \"startColumnIndex\": {{ $('Monthly Data Code Prep').first().json.colIndex }},\n          \"endColumnIndex\": {{ $('Monthly Data Code Prep').first().json.colIndex + 1 }}\n        },\n        \"bottom\": { \"style\": \"SOLID\", \"width\": 1, \"color\": { \"red\": 0, \"green\": 0, \"blue\": 0 } }\n      }\n    },\n    {\n      \"updateBorders\": {\n        \"range\": {\n          \"sheetId\": 1907343975,\n          \"startRowIndex\": 24,\n          \"endRowIndex\": 25,\n          \"startColumnIndex\": {{ $('Monthly Data Code Prep').first().json.colIndex }},\n          \"endColumnIndex\": {{ $('Monthly Data Code Prep').first().json.colIndex + 1 }}\n        },\n        \"bottom\": { \"style\": \"SOLID\", \"width\": 1, \"color\": { \"red\": 0, \"green\": 0, \"blue\": 0 } }\n      }\n    }, \n{\n  \"updateBorders\": {\n    \"range\": {\n      \"sheetId\": 1907343975,\n      \"startRowIndex\": 28,\n      \"endRowIndex\": 29,\n      \"startColumnIndex\": {{ $('Monthly Data Code Prep').first().json.colIndex }},\n      \"endColumnIndex\": {{ $('Monthly Data Code Prep').first().json.colIndex + 1 }}\n    },\n    \"bottom\": { \"style\": \"SOLID\", \"width\": 1, \"color\": { \"red\": 0, \"green\": 0, \"blue\": 0 } }\n  }\n}\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1920,32],"id":"933a64dd-0661-4b7b-9436-b9a50ab6c817","name":"Format Data","credentials":{"googleSheetsOAuth2Api":{"id":"GMLNaoDsMrvTFDp0","name":"Google Sheets account"}}},{"parameters":{"url":"=https://sheets.googleapis.com/v4/spreadsheets/1yv_hWzngxl6YqRByJjYbKvfQ5_VpPGHTeShCiH8DSqc/values/'Sales & page views'!1:1?majorDimension=ROWS&valueRenderOption=FORMATTED_VALUE","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[912,272],"id":"9dc76bd0-ec28-4fc9-aaf0-d3a7b1872108","name":"Get SpreadSheet Row Data Sales & page views","credentials":{"googleSheetsOAuth2Api":{"id":"GMLNaoDsMrvTFDp0","name":"Google Sheets account"}}},{"parameters":{"jsCode":"// Get row 1 data from direct input (GET request)\nconst row1 = $input.first().json.values?.[0] || [];\nconst nextCol = row1.length;\n\nfunction colToLetter(col) {\n  let letter = '';\n  while (col >= 0) {\n    letter = String.fromCharCode((col % 26) + 65) + letter;\n    col = Math.floor(col / 26) - 1;\n  }\n  return letter;\n}\n\nconst colLetter = colToLetter(nextCol);\nconst c = colLetter;\n\n// Calculate next month from the last column header\nconst lastDateStr = row1[row1.length - 1];\nconst monthNames = ['January','February','March','April','May','June','July','August','September','October','November','December'];\nconst parts = lastDateStr.split(' ');\nconst monthIndex = monthNames.indexOf(parts[0]);\nconst year = parseInt(parts[1]);\n\nconst nextMonthDate = new Date(year, monthIndex + 1, 1);\nconst monthHeader = `${monthNames[nextMonthDate.getMonth()]} ${nextMonthDate.getFullYear()}`;\n\nconst values = [\n  [monthHeader],                                                                          // Row 1: Month header\n  [`='Data Monthly'!${c}5+'Data Monthly'!${c}8+'Data Monthly'!${c}21`],                   // Row 2: LPP (legacy sales + core sales + order bump)\n  [`='Data Monthly'!${c}11+'Data Monthly'!${c}22`],                                       // Row 3: NLP (core sales + order bump)\n  [`='Data Monthly'!${c}14+'Data Monthly'!${c}23`],                                       // Row 4: AA (core sales + order bump)\n  [`='Data Monthly'!${c}17+'Data Monthly'!${c}24`],                                       // Row 5: LS (core sales + order bump)\n  [`='Data Monthly'!${c}20+'Data Monthly'!${c}25`],                                       // Row 6: EE (core sales + order bump)\n  [''],                                                                                    // Row 7: 5-Course Bundle & Upgrades (empty)\n  [`=SUM(${c}2:${c}6)`],                                                                  // Row 8: Total\n  [`=${c}8/31`],                                                                           // Row 9: Daily average sales\n  [''],                                                                                    // Row 10: blank\n  [`='Data Monthly'!${c}3+'Data Monthly'!${c}6+'Data Monthly'!${c}9+'Data Monthly'!${c}12+'Data Monthly'!${c}15+'Data Monthly'!${c}18`], // Row 11: Total sales page views\n  [`=${c}8/${c}11`],                                                                       // Row 12: Conversion rate\n];\n\nreturn [{ \n  json: { \n    range: `'Sales & page views'!${c}1:${c}12`,\n    values,\n    colIndex: nextCol,\n    colLetter: c\n  } \n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1120,272],"id":"e5bbf26b-a126-4d81-b713-7aadfdf67ca1","name":"Sales & Page Views Data Code Prep"},{"parameters":{"method":"POST","url":"=https://sheets.googleapis.com/v4/spreadsheets/1yv_hWzngxl6YqRByJjYbKvfQ5_VpPGHTeShCiH8DSqc:batchUpdate","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"requests\": [\n    {\n      \"appendDimension\": {\n        \"sheetId\": 568512032,\n        \"dimension\": \"COLUMNS\",\n        \"length\": 1\n      }\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1520,272],"id":"1a2c5e5f-d0f9-4b20-a5e0-a51b33a11676","name":"Put Column in Sales & page views","credentials":{"googleSheetsOAuth2Api":{"id":"GMLNaoDsMrvTFDp0","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"=https://sheets.googleapis.com/v4/spreadsheets/1yv_hWzngxl6YqRByJjYbKvfQ5_VpPGHTeShCiH8DSqc:batchUpdate","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"requests\": [\n    {\n      \"appendDimension\": {\n        \"sheetId\": 1907343975,\n        \"dimension\": \"COLUMNS\",\n        \"length\": 1\n      }\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1520,32],"id":"62af96c4-83b1-47a0-8312-cc3b38b5983f","name":"Put Column in Data Monthly","credentials":{"googleSheetsOAuth2Api":{"id":"GMLNaoDsMrvTFDp0","name":"Google Sheets account"}}},{"parameters":{"amount":15},"type":"n8n-nodes-base.wait","typeVersion":1.1,"position":[1312,272],"id":"c5b56960-f447-435c-9939-38ccfa80a747","name":"Wait for Data Monthly To Be done","webhookId":"faead6c3-fa0e-40b5-8eb3-0cceb10e6396"},{"parameters":{"method":"PUT","url":"=https://sheets.googleapis.com/v4/spreadsheets/1yv_hWzngxl6YqRByJjYbKvfQ5_VpPGHTeShCiH8DSqc/values/{{ $('Sales & Page Views Data Code Prep').first().json.range }}?valueInputOption=USER_ENTERED\n","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={\"values\": {{ JSON.stringify($('Sales & Page Views Data Code Prep').first().json.values) }}}\n","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1712,272],"id":"28deb7c7-3c65-45fa-b39e-d060e6efdebe","name":"Put Data into Google Sheet - Sales & page views","credentials":{"googleSheetsOAuth2Api":{"id":"GMLNaoDsMrvTFDp0","name":"Google Sheets account"}}},{"parameters":{"method":"POST","url":"=https://api.telegram.org/bot8420993416:AAHlhlAg06Qi-EbBWx34uNOA38KmM45ucRo/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chat_id\": 8079443961,\n  \"parse_mode\": \"HTML\",\n  \"text\": \"✅ <b>Monthly Report Complete</b>\\n\\n📊 Data written to Google Sheets\\n\\n📅 Month: {{ $('Fetch Date Monthly').first().json.startDate }} - {{ $('Fetch Date Monthly').first().json.endDate }}\\n\\n<b>Core + Plan Sales:</b>\\nLPP: {{ $('Monthly Data Code Prep').first().json.values[7][0] }}\\nNLP: {{ $('Monthly Data Code Prep').first().json.values[10][0] }}\\nAA: {{ $('Monthly Data Code Prep').first().json.values[13][0] }}\\nLS: {{ $('Monthly Data Code Prep').first().json.values[16][0] }}\\nEE: {{ $('Monthly Data Code Prep').first().json.values[19][0] }}\\n\\n<b>Order Bumps:</b>\\nLPP: {{ $('Monthly Data Code Prep').first().json.values[20][0] }}\\nNLP: {{ $('Monthly Data Code Prep').first().json.values[21][0] }}\\nAA: {{ $('Monthly Data Code Prep').first().json.values[22][0] }}\\nLS: {{ $('Monthly Data Code Prep').first().json.values[23][0] }}\\nEE: {{ $('Monthly Data Code Prep').first().json.values[24][0] }}\\n\\n<b>Totals:</b>\\n📈 Core Sales: {{ $('Monthly Data Code Prep').first().json.totalCoreSales }}\\n🎁 Order Bumps: {{ $('Monthly Data Code Prep').first().json.totalBumpSales }}\\n💰 Total All Sales: {{ $('Monthly Data Code Prep').first().json.totalAllSales }}\\n👀 Total Page Views: {{ $('Monthly Data Code Prep').first().json.totalViews }}\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2512,160],"id":"bdc9b331-6fc8-4592-95a0-06060f8cafba","name":"Notify Via Telegram1"},{"parameters":{"content":"# Send Completion Notification\n\nSend Telegram message to notify workflow is complete\n","height":400,"width":320,"color":2},"type":"n8n-nodes-base.stickyNote","position":[2400,-48],"typeVersion":1,"id":"350877d4-6732-41d1-8141-0d6bbd5fe9b9","name":"Sticky Note11"},{"parameters":{"mode":"chooseBranch","output":"empty"},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[2288,128],"id":"cbe1cd87-0a87-414f-b245-56fbb956c532","name":"Merge1"},{"parameters":{"method":"POST","url":"http://Olivers-MBP-6.mynet:3002/run-task","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"task\": \"Go to 'https://app.kit.com/subscribers?tab=NetNew'. Type in the date range from {{ $('Fetch Date Monthly').first().json.startDate }} to {{ $('Fetch Date Monthly').first().json.endDate }}.  in the date range selector (Use the following format E.g. Feb 2, 2026 - Feb 9, 2026). Then press enter, then change the days selector to months and this will start to load the graph below. Please wait for the graph to load for 15 seconds after you have entered in the date, pressed enter and changed days to months in the dropdown. Once the graph appears after you've pressed months and waited 15 seconds, hover over the graph and a box will appears with 3 figures. If the box does not appear, try clicking the graph instead. if that doesn't work, scroll up to see the full chart, then take a screenshot to visually identify the chart data area and tooltip location. The box that appears will include new subscribers, cancellations and net new subscribes. Copy those 3 figures and please return them.\",\n  \"task_type\": \"monthly_Kit\"\n}","options":{"timeout":600000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-192,688],"id":"9e7315ca-e850-4a4c-9a20-349428b99023","name":"Kit Monthly Data"},{"parameters":{"modelId":{"__rl":true,"value":"gpt-5.1","mode":"list","cachedResultName":"GPT-5.1"},"responses":{"values":[{"content":"={{ $json.result }}\n\nI have fetched this data from kit:\n{{ $('Kit Monthly Data').item.json.result }}\n\nYou are in a n8n pipeline and your job is return the data as described. \nPlease return the above data as follows:\n\nTotal new leads: X\nUnsubscribes: Y\n\nOnly return these two figures."}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[208,368],"id":"ae647bd5-6cae-4123-a777-20b79d24f7ae","name":"AI Kit Data Clean Monthly","credentials":{"openAiApi":{"id":"sPZND04eFxlGkbPq","name":"OpenAi account"}}},{"parameters":{"method":"POST","url":"=https://sheets.googleapis.com/v4/spreadsheets/1yv_hWzngxl6YqRByJjYbKvfQ5_VpPGHTeShCiH8DSqc:batchUpdate","authentication":"predefinedCredentialType","nodeCredentialType":"googleSheetsOAuth2Api","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"requests\": [\n    {\n      \"updateChartSpec\": {\n        \"chartId\": 177696181,\n        \"spec\": {\n          \"title\": \"Paul's total sales\",\n          \"basicChart\": {\n            \"chartType\": \"COLUMN\",\n            \"axis\": [\n              { \"position\": \"BOTTOM_AXIS\", \"viewWindowOptions\": {} },\n              { \"position\": \"LEFT_AXIS\", \"viewWindowOptions\": {} }\n            ],\n            \"domains\": [{ \"domain\": { \"sourceRange\": { \"sources\": [{ \"sheetId\": 568512032, \"startRowIndex\": 0, \"endRowIndex\": 1, \"startColumnIndex\": 0, \"endColumnIndex\": {{ $('Sales & Page Views Data Code Prep').first().json.colIndex + 1 }} }] } } }],\n            \"series\": [\n              { \"series\": { \"sourceRange\": { \"sources\": [{ \"sheetId\": 568512032, \"startRowIndex\": 1, \"endRowIndex\": 2, \"startColumnIndex\": 0, \"endColumnIndex\": {{ $('Sales & Page Views Data Code Prep').first().json.colIndex + 1 }} }] } }, \"targetAxis\": \"LEFT_AXIS\", \"dataLabel\": { \"type\": \"NONE\", \"textFormat\": { \"fontFamily\": \"Roboto\" } } },\n              { \"series\": { \"sourceRange\": { \"sources\": [{ \"sheetId\": 568512032, \"startRowIndex\": 2, \"endRowIndex\": 3, \"startColumnIndex\": 0, \"endColumnIndex\": {{ $('Sales & Page Views Data Code Prep').first().json.colIndex + 1 }} }] } }, \"targetAxis\": \"LEFT_AXIS\", \"dataLabel\": { \"type\": \"NONE\", \"textFormat\": { \"fontFamily\": \"Roboto\" } } },\n              { \"series\": { \"sourceRange\": { \"sources\": [{ \"sheetId\": 568512032, \"startRowIndex\": 3, \"endRowIndex\": 4, \"startColumnIndex\": 0, \"endColumnIndex\": {{ $('Sales & Page Views Data Code Prep').first().json.colIndex + 1 }} }] } }, \"targetAxis\": \"LEFT_AXIS\", \"dataLabel\": { \"type\": \"NONE\", \"textFormat\": { \"fontFamily\": \"Roboto\" } } },\n              { \"series\": { \"sourceRange\": { \"sources\": [{ \"sheetId\": 568512032, \"startRowIndex\": 4, \"endRowIndex\": 5, \"startColumnIndex\": 0, \"endColumnIndex\": {{ $('Sales & Page Views Data Code Prep').first().json.colIndex + 1 }} }] } }, \"targetAxis\": \"LEFT_AXIS\", \"dataLabel\": { \"type\": \"NONE\", \"textFormat\": { \"fontFamily\": \"Roboto\" } } },\n              { \"series\": { \"sourceRange\": { \"sources\": [{ \"sheetId\": 568512032, \"startRowIndex\": 5, \"endRowIndex\": 6, \"startColumnIndex\": 0, \"endColumnIndex\": {{ $('Sales & Page Views Data Code Prep').first().json.colIndex + 1 }} }] } }, \"targetAxis\": \"LEFT_AXIS\", \"dataLabel\": { \"type\": \"NONE\", \"textFormat\": { \"fontFamily\": \"Roboto\" } } }\n            ],\n            \"headerCount\": 1,\n            \"stackedType\": \"STACKED\"\n          },\n          \"hiddenDimensionStrategy\": \"SHOW_ALL\",\n          \"titleTextFormat\": { \"fontFamily\": \"Roboto\" },\n          \"fontName\": \"Roboto\",\n          \"titleTextPosition\": { \"horizontalAlignment\": \"CENTER\" }\n        }\n      }\n    },\n    {\n      \"updateChartSpec\": {\n        \"chartId\": 1567732715,\n        \"spec\": {\n          \"title\": \"Sales page traffic Vs Conversion Rate\",\n          \"basicChart\": {\n            \"chartType\": \"COMBO\",\n            \"legendPosition\": \"BOTTOM_LEGEND\",\n            \"axis\": [\n              { \"position\": \"BOTTOM_AXIS\", \"viewWindowOptions\": {} },\n              { \"position\": \"LEFT_AXIS\", \"viewWindowOptions\": { \"viewWindowMin\": 0, \"viewWindowMax\": 130000 } },\n              { \"position\": \"RIGHT_AXIS\", \"viewWindowOptions\": {} }\n            ],\n            \"domains\": [{ \"domain\": { \"sourceRange\": { \"sources\": [{ \"sheetId\": 568512032, \"startRowIndex\": 0, \"endRowIndex\": 1, \"startColumnIndex\": 52, \"endColumnIndex\": {{ $('Sales & Page Views Data Code Prep').first().json.colIndex + 1 }} }] } } }],\n            \"series\": [\n              { \"series\": { \"sourceRange\": { \"sources\": [{ \"sheetId\": 568512032, \"startRowIndex\": 10, \"endRowIndex\": 11, \"startColumnIndex\": 52, \"endColumnIndex\": {{ $('Sales & Page Views Data Code Prep').first().json.colIndex + 1 }} }] } }, \"targetAxis\": \"LEFT_AXIS\", \"type\": \"COLUMN\", \"dataLabel\": { \"type\": \"NONE\", \"textFormat\": { \"fontFamily\": \"Roboto\" } } },\n              { \"series\": { \"sourceRange\": { \"sources\": [{ \"sheetId\": 568512032, \"startRowIndex\": 11, \"endRowIndex\": 12, \"startColumnIndex\": 52, \"endColumnIndex\": {{ $('Sales & Page Views Data Code Prep').first().json.colIndex + 1 }} }] } }, \"targetAxis\": \"RIGHT_AXIS\", \"type\": \"LINE\", \"dataLabel\": { \"type\": \"NONE\", \"textFormat\": { \"fontFamily\": \"Roboto\" } } }\n            ],\n            \"headerCount\": 0\n          },\n          \"hiddenDimensionStrategy\": \"SHOW_ALL\",\n          \"titleTextFormat\": { \"fontFamily\": \"Roboto\" },\n          \"fontName\": \"Roboto\"\n        }\n      }\n    }\n  ]\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1920,272],"id":"4e174513-e021-4244-8547-784cab92397d","name":"Update Graphs 2","credentials":{"googleSheetsOAuth2Api":{"id":"GMLNaoDsMrvTFDp0","name":"Google Sheets account"}}},{"parameters":{"url":"=https://script.google.com/macros/s/AKfycbx92b3Dij_IgMzTWUa1H-veyRGBZXYAL15EX_XJ6POtFhPMOMmKc5HPf7aPYI6T4k1X/exec?col={{ $('Sales & Page Views Data Code Prep').first().json.colLetter }}","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[2096,272],"id":"136b2958-207a-465a-aaf5-fb9c47acbb58","name":"Update Graphs 1"},{"parameters":{"method":"POST","url":"http://Olivers-MBP-6.mynet:3002/run-task","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"task\": \"Go to https://app.samcart.com/marketplace/pauldavids/analytics/products. Set date range from {{ $json.startDate }} to {{ $json.endDate }}. To change the date, type it in the field rather than trying to select the specific dates on the date selector calendar as sam cart is quite fiddly (E.g. for the date, it is formatted like this: 'Feb 10, 2026' so don't use this formatting: '2026-02-10'). There are two date selectors so choose the second one as that one changes the table data. Once you have typed it in, you then need to click off the date selector on the page for it to reload the table data with the new data. Return the orders for each product. The orders number is the number on the orders column. Ensure you select only this number and do so correctly. For context, it is the column inbetween 'Views' and 'Conversions'. It is not the 'Paypal Orders' or 'Credit card orders' value. Make sure you double check product Payment Plan Order figures. They should not be 0, so if you found they are, ensure you copied the right number. Especially for electric elevation payment plan. Click through the paginator at bottom of table to make sure you get all data from the table.\",\n  \"task_type\": \"weekly_Samcart\"\n}","options":{"timeout":900000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-176,1216],"id":"b3df0dcd-9e84-44f1-b176-af13c4f8520e","name":"Sam Cart Data"}],"connections":{"Weekly Report Scheduler":{"main":[[{"node":"Fetch Date","type":"main","index":0}]]},"Google analytics Pauldavidsguitar.com":{"main":[[{"node":"Google analytics learnpractiseplay.com","type":"main","index":0}]]},"Google analytics learnpractiseplay.com":{"main":[[{"node":"AI Google Analytics Clean","type":"main","index":0}]]},"AI Google Analytics Clean":{"main":[[{"node":"Merge","type":"main","index":1}]]},"AI Sam Cart Clean":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Get SpreadSheet Row Data","type":"main","index":0}]]},"Get SpreadSheet Row Data":{"main":[[{"node":"Weekly Data Code Prep","type":"main","index":0}]]},"Weekly Data Code Prep":{"main":[[{"node":"Put Column in Google Sheet - Data Weekly","type":"main","index":0}]]},"Put Column in Google Sheet - Data Weekly":{"main":[[{"node":"Put Data into Google Sheet - Data Weekly","type":"main","index":0}]]},"Put Data into Google Sheet - Data Weekly":{"main":[[{"node":"Format Data & Update Weekly Graph","type":"main","index":0}]]},"Fetch Date":{"main":[[{"node":"Sam Cart Data","type":"main","index":0}]]},"Format Data & Update Weekly Graph":{"main":[[{"node":"Notify Via Telegram","type":"main","index":0}]]},"Monthly Report Scheduler":{"main":[[{"node":"Fetch Date Monthly","type":"main","index":0}]]},"Sam Cart Data Monthly":{"main":[[{"node":"Google analytics Pauldavidsguitar.com Monthly","type":"main","index":0},{"node":"AI Sam Cart Clean Monthly","type":"main","index":0}]]},"Google analytics Pauldavidsguitar.com Monthly":{"main":[[{"node":"Google analytics learnpractiseplay.com Monthly","type":"main","index":0}]]},"Google analytics learnpractiseplay.com Monthly":{"main":[[{"node":"AI Google Analytics Clean Monthly","type":"main","index":0},{"node":"Kit Monthly Data","type":"main","index":0}]]},"Get SpreadSheet Row Data Monthly":{"main":[[{"node":"Monthly Data Code Prep","type":"main","index":0}]]},"Merge Monthly":{"main":[[{"node":"Get SpreadSheet Row Data Monthly","type":"main","index":0},{"node":"Get SpreadSheet Row Data Sales & page views","type":"main","index":0}]]},"Fetch Date Monthly":{"main":[[{"node":"Sam Cart Data Monthly","type":"main","index":0}]]},"AI Google Analytics Clean Monthly":{"main":[[{"node":"Merge Monthly","type":"main","index":1}]]},"AI Sam Cart Clean Monthly":{"main":[[{"node":"Merge Monthly","type":"main","index":0}]]},"Monthly Data Code Prep":{"main":[[{"node":"Put Column in Data Monthly","type":"main","index":0}]]},"Put Data into Google Sheet - Data Monthly":{"main":[[{"node":"Format Data","type":"main","index":0}]]},"Get SpreadSheet Row Data Sales & page views":{"main":[[{"node":"Sales & Page Views Data Code Prep","type":"main","index":0}]]},"Format Data":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Sales & Page Views Data Code Prep":{"main":[[{"node":"Wait for Data Monthly To Be done","type":"main","index":0}]]},"Put Column in Data Monthly":{"main":[[{"node":"Put Data into Google Sheet - Data Monthly","type":"main","index":0}]]},"Wait for Data Monthly To Be done":{"main":[[{"node":"Put Column in Sales & page views","type":"main","index":0}]]},"Put Column in Sales & page views":{"main":[[{"node":"Put Data into Google Sheet - Sales & page views","type":"main","index":0}]]},"Put Data into Google Sheet - Sales & page views":{"main":[[{"node":"Update Graphs 2","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Notify Via Telegram1","type":"main","index":0}]]},"Kit Monthly Data":{"main":[[{"node":"AI Kit Data Clean Monthly","type":"main","index":0}]]},"Update Graphs 2":{"main":[[{"node":"Update Graphs 1","type":"main","index":0}]]},"Update Graphs 1":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"AI Kit Data Clean Monthly":{"main":[[{"node":"Merge Monthly","type":"main","index":2}]]},"Sam Cart Data":{"main":[[{"node":"AI Sam Cart Clean","type":"main","index":0},{"node":"Google analytics Pauldavidsguitar.com","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"C537x9lsOCAT0Sdl","callerPolicy":"workflowsFromSameOwner","timezone":"Europe/London"},"staticData":{"node:Weekly Report Scheduler":{"recurrenceRules":[]},"node:Monthly Report Scheduler":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2ba27080-ed2c-4d96-af95-8119562a79ff","activeVersionId":"e01c5d54-ce61-400e-b4aa-b1be6a5d4cbb","versionCounter":1930,"triggerCount":2,"tags":[],"shared":[{"updatedAt":"2026-02-17T20:54:15.678Z","createdAt":"2026-02-17T20:54:15.678Z","role":"workflow:owner","workflowId":"PbSmiMrjVcLqSlBo","projectId":"yZffGLJh3Mcgae7S","project":{"updatedAt":"2026-02-17T20:44:29.313Z","createdAt":"2026-02-17T20:44:09.508Z","id":"yZffGLJh3Mcgae7S","name":"oliver  weisfeld <oliver@courseconcierge.com>","type":"personal","icon":null,"description":null,"creatorId":"c4376ebf-92d7-46c1-b3e6-34dd627b8d0b"}}]},{"updatedAt":"2026-02-20T21:06:33.019Z","createdAt":"2026-02-20T21:01:24.435Z","id":"C537x9lsOCAT0Sdl","name":"Error Notification","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"type":"n8n-nodes-base.errorTrigger","typeVersion":1,"position":[0,0],"id":"84b6ffba-bd4d-4b53-8f6e-c6bdb714fb81","name":"Error Trigger"},{"parameters":{"method":"POST","url":"https://api.telegram.org/bot8420993416:AAHlhlAg06Qi-EbBWx34uNOA38KmM45ucRo/sendMessage","sendBody":true,"specifyBody":"json","jsonBody":"={\n  \"chat_id\": 8079443961,\n  \"parse_mode\": \"HTML\",\n  \"text\": \"❌ <b>Workflow Failed</b>\\n\\n⚙️ Workflow: {{ $json.workflow.name }}\\n\\n📍 Failed Node: {{ $json.execution.lastNodeExecuted }}\\n\\n🔴 Error: {{ $json.execution.error.message }}\\n\\n🔗 <a href=\\\"http://localhost:5678/workflow/{{ $json.workflow.id }}/executions/{{ $json.execution.id }}\\\">View Execution</a>\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[208,0],"id":"8b328130-8027-4c16-8631-9ee909bb883f","name":"HTTP Request"}],"connections":{"Error Trigger":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"489484f7-bf0f-4b32-924b-13be7b3e3578","activeVersionId":"adf50d3e-ff51-48cc-acad-b0eea3031aed","versionCounter":18,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-02-20T21:01:24.439Z","createdAt":"2026-02-20T21:01:24.439Z","role":"workflow:owner","workflowId":"C537x9lsOCAT0Sdl","projectId":"yZffGLJh3Mcgae7S","project":{"updatedAt":"2026-02-17T20:44:29.313Z","createdAt":"2026-02-17T20:44:09.508Z","id":"yZffGLJh3Mcgae7S","name":"oliver  weisfeld <oliver@courseconcierge.com>","type":"personal","icon":null,"description":null,"creatorId":"c4376ebf-92d7-46c1-b3e6-34dd627b8d0b"}}]},{"updatedAt":"2026-02-28T13:25:47.387Z","createdAt":"2026-02-26T17:25:49.572Z","id":"1QomC4FcKvtUV8HU","name":"AI News","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"triggerAtHour":9}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.3,"position":[-240,0],"id":"9f2ac6a6-8c2c-485c-a597-6aa7ff9ecf1f","name":"Schedule Trigger"},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"#ai-updates","mode":"name"},"text":"={{ $json.slack_text }}","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[1088,0],"id":"9607aea3-afa8-472b-b26b-9a5f0f1b6ba1","name":"Send a message","webhookId":"408f8556-553c-440a-b5d3-ff70ad0ae505","credentials":{"slackApi":{"id":"jHQZScGpFh9ClOsj","name":"Slack account"}}},{"parameters":{"jsCode":"// n8n Code Node — Format as separate Slack messages per section\nconst items = $input.all();\n\nconst today = new Date().toLocaleDateString('en-GB', {\n  weekday: 'long',\n  day: 'numeric',\n  month: 'long',\n  year: 'numeric'\n});\n\nconst allCitations = [];\nconst sectionLabels = [\n  ':office:  *Major AI Company Updates*',\n  ':fire:  *Viral & Trending in AI*',\n  ':chart_with_upwards_trend:  *Funding, Policy & Research*'\n];\n\nconst messages = [];\nlet storyNum = 0;\n\n// Header message\nmessages.push({\n  slack_text: `:newspaper:  *AI Briefing — ${today}*\\n_Everything that matters in AI today_\\n━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━`,\n  is_header: true\n});\n\nfor (let i = 0; i < items.length; i++) {\n  const data = items[i].json;\n\n  let content = '';\n  if (data.choices?.[0]?.message?.content) {\n    content = data.choices[0].message.content;\n  }\n\n  const citations = data.citations || [];\n  allCitations.push(...citations);\n\n  // Clean preamble and trailing text\ncontent = content.replace(/^[\\s\\S]*?(?=## 1\\.)/s, '').trim();\n\n\n  const stories = content.split(/(?=## \\d+\\.)/).filter(s => s.trim());\n\n  if (stories.length === 0) continue;\n\n  let sectionText = `${sectionLabels[i] || ':bulb:  *Other Updates*'}\\n`;\n\n  for (const story of stories) {\n    storyNum++;\n\n    let formatted = story\n      .replace(/## \\d+\\./, `## ${storyNum}.`)\n      .replace(/\\[(\\d+)\\]/g, '')\n      .replace(/## (\\d+)\\.\\s*(.+)/g, '\\n*$1. $2*')\n      .replace(/\\*\\*Source:\\*\\*\\s*\\[([^\\]]+)\\]\\(([^)]+)\\)/g, '_Source: <$2|$1>_')\n      .replace(/\\*\\*Source:\\*\\*\\s*(.+)/g, '_Source: $1_')\n      .replace(/\\*\\*Summary:\\*\\*/g, '*Summary:*')\n      .replace(/\\*\\*Why it matters:\\*\\*/g, '*Why it matters:*')\n      .replace(/\\[([^\\]]+)\\]\\(([^)]+)\\)/g, '<$2|$1>')\n      .replace(/\\*\\*(.+?)\\*\\*/g, '*$1*')\n      .replace(/\\n{3,}/g, '\\n\\n')\n      .trim();\n\n    if (formatted.length > 10) {\n      sectionText += `\\n${formatted}\\n`;\n    }\n  }\n\n  messages.push({\n    slack_text: sectionText.trim(),\n    is_header: false\n  });\n}\n\n// Footer message\nconst uniqueUrls = [...new Set(allCitations)].slice(0, 5);\nif (uniqueUrls.length > 0) {\n  messages.push({\n    slack_text: uniqueUrls.join('\\n'),\n    is_header: false\n  });\n}\n\nmessages.push({\n  slack_text: `━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━\\n:robot_face:  _Automated via Perplexity Sonar + n8n_`,\n  is_header: false\n});\n\nreturn messages.map(m => ({ json: m }));"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[752,0],"id":"93033084-6104-4560-a075-b96ff8e3a692","name":"Code in JavaScript"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[528,-16],"id":"8a7c66ee-ae3e-4b0d-a1f1-3b6d539132fd","name":"Merge"},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an AI industry analyst. Return 3-5 stories in this exact format:\\n\\n## [NUMBER]. [HEADLINE]\\n**Source:** [source name](URL)\\n**Summary:** One sentence, maximum 30 words.\\n**Why it matters:** One sentence, maximum 20 words.\\n\\nCRITICAL RULES:\\n- Start your response with ## 1. immediately. No preamble, introduction, disclaimers, or commentary before the first story.\\n- Do not explain what you cannot access or what limitations you have.\\n- Do not add notes, disclaimers, or commentary after the last story.\\n- Number stories sequentially starting from 1.\\n- Stop immediately after the last story's \\\"Why it matters\\\" line.\\n- If you find fewer than 3 stories, return what you have in the exact format above.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Search the web for the most important AI business, funding, policy, and research developments from the past few days. You MUST use web search to find current results — do not say you cannot access the web or that results are limited. Focus on: funding rounds over $20M, major acquisitions or partnerships, AI regulation and policy changes, research breakthroughs with practical implications, major enterprise AI deployments, and AI infrastructure developments like chips and compute.\"\n    }\n  ],\n  \"max_tokens\": 800,\n  \"temperature\": 0.3,\n  \"search_recency_filter\": \"week\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[128,288],"id":"b7d35027-15c8-48bd-b9d8-88aab85ea79a","name":"Funding, Policy & Research Http Request","credentials":{"httpHeaderAuth":{"id":"fWev80DTVk0IdsiH","name":"Header Auth account"}}},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n  \"content\": \"You are an AI industry analyst. Return 3-5 stories in this exact format:\\n\\n## [NUMBER]. [HEADLINE]\\n**Source:** [source name](URL)\\n**Summary:** One sentence, maximum 30 words.\\n**Why it matters:** One sentence, maximum 20 words.\\n\\nCRITICAL RULES:\\n- Start your response with ## 1. immediately. No preamble, introduction, disclaimers, or commentary before the first story.\\n- Do not explain what you cannot access or what limitations you have.\\n- Do not add notes, disclaimers, or commentary after the last story.\\n- Number stories sequentially starting from 1.\\n- Stop immediately after the last story's \\\"Why it matters\\\" line.\\n- If you find fewer than 3 stories, return what you have in the exact format above.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Search the web for AI tools, open source projects, or technologies that are going viral or getting significant attention right now. You MUST use web search to find current results — do not say you cannot access the web or that results are limited. Search for: Product Hunt trending AI launches today, Hacker News front page AI posts, GitHub trending AI repositories, Reddit r/LocalLLaMA and r/MachineLearning top posts, AI demos or tools going viral on X/Twitter. Focus on: tools getting unexpected traction, open source releases people are excited about, new AI products going viral, community discoveries. Only include things gaining attention in the past few days.\"\n    }\n  ],\n  \"max_tokens\": 800,\n  \"temperature\": 0.3,\n  \"search_recency_filter\": \"week\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[128,64],"id":"d3f20b44-3bd3-4fd3-a268-bd4a0cccbad8","name":"Viral & Trending in AI Http Request","credentials":{"httpHeaderAuth":{"id":"fWev80DTVk0IdsiH","name":"Header Auth account"}}},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are an AI industry analyst. Return 3-5 stories in this exact format:\\n\\n## [NUMBER]. [HEADLINE]\\n**Source:** [source name](URL)\\n**Summary:** One sentence, maximum 30 words.\\n**Why it matters:** One sentence, maximum 20 words.\\n\\nCRITICAL RULES:\\n- Start your response with ## 1. immediately. No preamble, introduction, disclaimers, or commentary before the first story.\\n- Do not explain what you cannot access or what limitations you have.\\n- Do not add notes, disclaimers, or commentary after the last story.\\n- Number stories sequentially starting from 1.\\n- Stop immediately after the last story's \\\"Why it matters\\\" line.\\n- If you find fewer than 3 stories, return what you have in the exact format above.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"Search the web for the most important updates from major AI companies in the last 24 hours. You MUST use web search to find current results — do not say you cannot access the web. Check: Anthropic, OpenAI, Google DeepMind, Google AI, Meta AI, xAI Grok, Microsoft Copilot, Apple AI. Focus on: new model releases, major model updates, capability changes, API changes, pricing changes, new features, and platform launches.\"\n    }\n  ],\n  \"max_tokens\": 800,\n  \"temperature\": 0.3,\n  \"search_recency_filter\": \"week\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[128,-144],"id":"01ffd686-4987-44e7-88e9-9bc0d0e223fb","name":"Major AI Company Updates Http Request","credentials":{"httpHeaderAuth":{"id":"fWev80DTVk0IdsiH","name":"Header Auth account"}}},{"parameters":{"content":"# Perplexity Research","height":784,"width":480},"type":"n8n-nodes-base.stickyNote","position":[-64,-272],"typeVersion":1,"id":"8000148c-334b-4048-96c3-0b9002320d89","name":"Sticky Note"},{"parameters":{"content":"# Clean & Prepare Output\n","height":384,"width":448,"color":2},"type":"n8n-nodes-base.stickyNote","position":[480,-160],"typeVersion":1,"id":"2818ae36-f5a3-42f0-8dee-0a7f1d38d451","name":"Sticky Note1"},{"parameters":{"content":"# Send to Slack\n","height":304,"width":288,"color":3},"type":"n8n-nodes-base.stickyNote","position":[1008,-96],"typeVersion":1,"id":"c25bbd3e-083c-4c21-a9ac-340d3d62efb7","name":"Sticky Note2"}],"connections":{"Schedule Trigger":{"main":[[{"node":"Viral & Trending in AI Http Request","type":"main","index":0},{"node":"Funding, Policy & Research Http Request","type":"main","index":0},{"node":"Major AI Company Updates Http Request","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"Send a message","type":"main","index":0}]]},"Merge":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Funding, Policy & Research Http Request":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Viral & Trending in AI Http Request":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Major AI Company Updates Http Request":{"main":[[{"node":"Merge","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false,"timeSavedMode":"fixed","errorWorkflow":"C537x9lsOCAT0Sdl","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:Schedule Trigger":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"b597307a-405a-4c2f-9927-5907eaaca396","activeVersionId":"cabf6cc0-7782-440a-b92e-0574e4b38b43","versionCounter":190,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-26T17:25:49.574Z","createdAt":"2026-02-26T17:25:49.574Z","role":"workflow:owner","workflowId":"1QomC4FcKvtUV8HU","projectId":"yZffGLJh3Mcgae7S","project":{"updatedAt":"2026-02-17T20:44:29.313Z","createdAt":"2026-02-17T20:44:09.508Z","id":"yZffGLJh3Mcgae7S","name":"oliver  weisfeld <oliver@courseconcierge.com>","type":"personal","icon":null,"description":null,"creatorId":"c4376ebf-92d7-46c1-b3e6-34dd627b8d0b"}}]},{"updatedAt":"2026-02-27T19:48:01.229Z","createdAt":"2026-02-27T19:45:05.170Z","id":"oapzNkLzwMo4bqX2","name":"My workflow 2","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c1e0243b-ca04-48af-b0cb-f225907d7da5","leftValue":"={{ $json.event.bot_id }}","rightValue":"","operator":{"type":"boolean","operation":"notExists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-528,-64],"id":"83356e5b-2848-4022-a880-a4df184bed18","name":"If"},{"parameters":{"method":"POST","url":"https://api.perplexity.ai/chat/completions","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendBody":true,"specifyBody":"json","jsonBody":"{\n  \"model\": \"sonar\",\n  \"messages\": [\n    {\n      \"role\": \"system\",\n      \"content\": \"You are a helpful AI research assistant in a Slack channel that tracks AI industry news. Answer questions concisely in under 200 words. Use plain text, no markdown headers. Always search the web for the latest information.\"\n    },\n    {\n      \"role\": \"user\",\n      \"content\": \"{{ $('Slack Trigger').first().json.event.text }}\"\n    }\n  ],\n  \"max_tokens\": 500,\n  \"temperature\": 0.3\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[-240,-80],"id":"8ca97fdc-ee06-4f18-8126-1db6e9d7e2e8","name":"Major AI Company Updates Http Request1","credentials":{"httpHeaderAuth":{"id":"fWev80DTVk0IdsiH","name":"Header Auth account"}}},{"parameters":{"select":"channel","channelId":{"__rl":true,"value":"C0AHKNG35EJ","mode":"id"},"text":"test","otherOptions":{}},"type":"n8n-nodes-base.slack","typeVersion":2.4,"position":[-32,-80],"id":"1136d009-bd73-4d53-8a43-ac1e3c03cd46","name":"Send a message1","webhookId":"cd068083-f992-46b6-8fd5-9eb9825d4ccb","credentials":{"slackApi":{"id":"jHQZScGpFh9ClOsj","name":"Slack account"}}},{"parameters":{"trigger":["message"],"channelId":{"__rl":true,"value":"C0AHKNG35EJ","mode":"id"},"options":{}},"type":"n8n-nodes-base.slackTrigger","typeVersion":1,"position":[-704,-48],"id":"5987c42b-4140-4c8a-a102-b86629b3df2c","name":"Slack Trigger","webhookId":"43ae1580-1fde-439e-a073-5295bc07a454","credentials":{"slackApi":{"id":"jHQZScGpFh9ClOsj","name":"Slack account"}}}],"connections":{"If":{"main":[[{"node":"Major AI Company Updates Http Request1","type":"main","index":0}]]},"Major AI Company Updates Http Request1":{"main":[[{"node":"Send a message1","type":"main","index":0}]]},"Slack Trigger":{"main":[[{"node":"If","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"2f595524-c016-405b-a054-9ee0910d2051","activeVersionId":null,"versionCounter":13,"triggerCount":1,"tags":[],"shared":[{"updatedAt":"2026-02-27T19:45:05.173Z","createdAt":"2026-02-27T19:45:05.173Z","role":"workflow:owner","workflowId":"oapzNkLzwMo4bqX2","projectId":"yZffGLJh3Mcgae7S","project":{"updatedAt":"2026-02-17T20:44:29.313Z","createdAt":"2026-02-17T20:44:09.508Z","id":"yZffGLJh3Mcgae7S","name":"oliver  weisfeld <oliver@courseconcierge.com>","type":"personal","icon":null,"description":null,"creatorId":"c4376ebf-92d7-46c1-b3e6-34dd627b8d0b"}}]},{"updatedAt":"2026-03-03T22:45:55.202Z","createdAt":"2026-03-03T18:18:21.359Z","id":"IOTNrOVJCTxsHzxR","name":"Youtube Blog Automation","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyHour"}]},"feedUrl":"https://www.youtube.com/feeds/videos.xml?playlist_id=UULF_Oa7Ph3v94om5OyxY1nPKg"},"type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[-208,-32],"id":"e04e07ce-4e9a-4927-b5c0-323030cdd2b8","name":"RSS Feed Trigger"},{"parameters":{"jsCode":"const item = $input.first().json;\nconst videoId = item.id.split(':').pop();\n\nreturn [{\n  json: {\n    ...item,\n    videoId\n  }\n}];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[0,-32],"id":"d5c099da-d8a8-4708-b050-2af0d492f94f","name":"Extract Video ID"},{"parameters":{"url":"=http://127.0.0.1:8000/transcript?videoId={{ $json.videoId }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Content-Type","value":"application/json"}]},"options":{"timeout":900000}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[224,-32],"id":"57fd34a3-181a-4ed7-8feb-0efc7671e719","name":"Youtube Transcript"},{"parameters":{"modelId":{"__rl":true,"value":"claude-opus-4-5-20251101","mode":"list","cachedResultName":"claude-opus-4-5-20251101"},"messages":{"values":[{"content":"=You are a content writer for Paul Davids Guitar (pauldavidsguitar.com).\n\nHere is an example article, please use this as a way to follow the tone:\n\n---\n\nBest of NAMM 2026: LED Fretboards, MIDI Guitars, and Boutique Innovation\nFebruary 5, 2026\n\nThe NAMM Show 2026 delivered another year of innovation, bringing together cutting-edge guitar technology, boutique craftsmanship, and gear that pushes the boundaries of what’s possible.\nFrom guitars that literally show you the right notes, to instruments that prove tonewood might not be everything, this year’s show floor was packed with surprises. Here’s a look at some of the standout gear that caught my attention at NAMM 2026.\nThe Guitar That Lights Your Way: Litejam LED Fretboard\n￼\nImagine looking at your fretboard and having the right notes simply light up in front of you.\nThat’s exactly what Litejam has created—a guitar with LEDs embedded in every fret position across the entire neck. Originally funded through Kickstarter, this innovative learning tool connects to a mobile app that lets you visualize scales, chords, and arpeggios directly on the fretboard.\nThe system uses blue lights to indicate notes within a scale and red lights to mark root notes.\nWant to see E major across the entire neck? It’s there instantly. Need to focus on just the first position? The app lets you isolate exactly what you want to practice.\nThe technology also extends beyond basic major scales—jazz voicings, different chord positions, arpeggios, and even modes like E Phrygian all light up on demand.\nOne of the most impressive aspects of the guitar is that the LEDs are completely flush with the fretboard—you can’t feel them at all under your fingers. The guitar also has patterns programmed directly into the instrument, so you can practice even without your phone nearby.\nFor guitarists who find themselves always returning to the same positions on the fretboard, the LED system reveals alternative pathways and positions you might not typically explore. It’s not just a beginner’s tool—it’s a way to break out of familiar habits and discover new musical possibilities.\nMIDI Meets Guitar: The Strandberg x Jamstick Chameleon\n￼\nThe line between traditional guitar and MIDI controller continues to blur, and the Jamstick Chameleon demonstrates this evolution beautifully. Built on Strandberg’s Essential model platform with Strandberg OEM pickups, this headless guitar includes integrated Jamstick MIDI technology that opens up endless creative possibilities.\nThe guitar features two outputs—traditional audio and MIDI—allowing you to play it as a regular electric guitar or use it to trigger any virtual instrument, DAW plugin, or notation software that accepts MIDI input. Connection options include both USB-C and Bluetooth, giving you wireless freedom when needed.\nWhat makes this implementation particularly impressive is how the MIDI responds to guitar techniques. Vibrato translates to pitch modulation that you can see wiggling on screen. String bends track accurately, moving the pitch up and down as you’d expect. The responsive nature of the system removes much of the thinking typically required with MIDI guitar controllers.\nThrough the Jamstick Creator software, the guitar can produce everything from synthesizer pads to vocal sounds to piano tones—all controlled through guitar playing. For guitarists who struggle with keyboard controllers, this offers a much more intuitive way to access the world of virtual instruments and production tools.\nEastman FullerTone: Collaborative Design That Works\n￼\n\nSometimes the best innovations come from refining existing designs rather than reinventing the wheel. The Eastman FullerTone guitar represents a true collaborative effort between builder and player, where a little bit of my hands-on experience led to meaningful improvements.\nThe story began when Eastman sent me their D’Ambrosio offset model for evaluation. After spending a couple of weeks with the instrument, a few specific details emerged that I thought could improve the playing experience. While the suggested changes were quite small, Eastman recognized they would make huge differences to playability and incorporated them into their FullerTone model.\nThree key improvements define the refined instrument.\nFirst, the arm bevel extends further down the body than with the D’Ambrosio , creating better balance and a more comfortable playing position.\nSecond, the pickup selector switch moved higher on the body to remain accessible when your arm is resting on the guitar—the original placement meant the tremolo arm would block access to the switch.\nThird, the pickguard was enlarged to accommodate a relocated volume control that’s easier to reach during playing, solving another issue where the tremolo arm interfered with the original knob position.\nThe guitar features Eastman’s “fuller tone” neck design, where the neck extends underneath the neck pickup and locks into the body with two visible screws. This construction method delivers increased sustain, improved tone, and exceptional stability—the neck won’t shift even without the screws fully tightened.\nPerhaps most impressive is the price point. I originally thought the guitar was $2000, but it’s actually $999 street price, whether you’re shopping in US dollars or euros. For a guitar with this level of refinement and thoughtful design that incorporates real-world player feedback, it represents exceptional value.\nThe Era 30: Mark Sampson’s Final Masterpiece\n￼\nSome gear carries emotional weight beyond its sonic capabilities. The Badcat Era 30 represents the final amplifier design from Mark Sampson—the legendary engineer behind many of the iconic designs from Matchless and Bad Cat amps —before his sudden passing in 2024.\nSampson’s mission when rejoining Badcat was clear: create the ultimate Vox-inspired amplifier. The Era 30 is his answer—an idealized two-channel DC30 designed by the master himself. The amp features both an EF86 channel and a 12AX7 channel that can be used independently or blended together for maximum tonal flexibility.\nWhen you push the gain on the EF86 channel, the amp delivers punchy, direct overdrive with the legendary Matchless chime that made Sampson’s designs famous. The 12AX7 channel offers a different character, and the ability to blend both channels creates a wide palette of tones. There’s also a bass inverter that adds even more gain when needed.\nThis amplifier doesn’t forgive sloppy playing—every note shines through the mix. But for players who are looking for that clarity, the Era 30 rewards touch sensitivity and dynamic control like few other amps can. It represents a more usable, slightly friendlier evolution of the classic DC30 design while maintaining everything that made those amplifiers special.\nI think I might have just found my new favorite amp!\nThe Tonewood Debate: James Trussart Steelcaster\n￼\nDoes tonewood matter? One aluminum-bodied “Steelcaster” from James Trussart Custom Guitars at NAMM 2026 provided compelling evidence that body material plays a significant role in electric guitar tone. The instrument features a completely hollow aluminum body with no wood involved except for the maple neck.\nLooking through the transparent body construction is visually striking, but the real revelation comes when you plug it in. The guitar sounds distinctly different from any wooden-bodied instrument I’ve ever played. The tone has a unique character that proves the body material contributes meaningfully to the overall sound.\nJames Trussart has been creating metal guitars since the 1980s, with instruments made for Eric Clapton, Robert Cray, Billy Gibbons, Joe Perry and many others. The construction is extremely stable, and the resulting tone is genuinely magical in its own right. It challenges assumptions about what makes an electric guitar sound the way it does.\nNucleo Reverb: Three Years in the Making\n￼\nSome gear at NAMM carries extra significance when you’ve been part of its creation from the very beginning. The Nucleo reverb pedal, developed in collaboration with Cornerstone, represents three years of development, countless design revisions, and a journey that began inside an abandoned nuclear power plant.\nThe pedal’s concept originated from recordings made in that decommissioned reactor facility—a space with such extraordinary natural reverb that it needed to be captured and shared. Those jaw-dropping acoustics became the foundation for the Nucleo’s three reverb modes: the control room (a versatile room reverb), the cooling chamber (a lush hall), and the massive reactor floor (a larger-than-life ambient reverb).\nWhat started as brainstorming sessions evolved into a year of prototyping, testing, and refinement. Features kept getting added as the vision expanded: freeze functions with pitch shifting, musical modulation that never gets too extreme, shimmering octave effects, and characteristic modes (normal, vintage, and lo-fi) that completely transform the pedal’s personality.\nTesting the Nucleo through a stereo amplifier setup at NAMM revealed what the effect truly accomplishes. Stereo reverb creates a three-dimensional soundscape that mono configurations simply cannot match. The pedal delivers everything from subtle room ambience to massive, experimental textures while maintaining clarity even at more extreme settings. The stereo imaging keeps everything separated and distinct, allowing the reverb to enhance rather than obscure your playing.\nThe Nucleo is handbuilt in Italy by Cornerstone, featuring isolated stereo outputs to avoid ground loops, phase flip switches for running two amps, and both mono and stereo operation modes. Beyond the technical specifications, it’s a pedal that grew from genuine inspiration—proof that sometimes the best gear comes from chasing a sound you can’t stop thinking about.\nKernom Moho: Fuzz History in One Pedal\n￼\nA few years back, Kernom released an overdrive pedal (which I covered in this YouTube video) that could emulate virtually any classic overdrive circuit—from the King of Tone to the Tube Screamer to countless clones in between. That versatile approach to effect design has continued with two new pedals: a fuzz and a modulation unit.\nThe fuzz pedal, called the Moho, tackles an ambitious goal: pack the complete history of fuzz into a single unit. From vintage germanium tones to modern high-gain mayhem, it covers the entire spectrum of fuzz evolution.\nBut the Moho goes beyond typical fuzz territory. At the extreme end of the mood control lies a full ring modulator, capable of creating wild, experimental textures that venture far outside conventional fuzz sounds. It’s a pedal that rewards experimentation, with enough range to cover traditional fuzz applications while offering sonic possibilities that push into truly unusual territory.\nThe Elipse modulation pedal follows the same philosophy—comprehensive coverage of modulation options in one compact design.\nBoth pedals represent Kernom’s approach: why collect multiple pedals when one well-designed unit can contain decades of effect evolution? It simplifies your pedalboard while expanding your tonal options, making it easier to access diverse sounds without expanding your pedalboard real estate.\nMentha Works Monk Echo: Formant-Filtered Reverb and Delay\n￼\nNew pedal company Mentha Works from Latvia made their debut at NAMM 2026 with the Monk Echo, a reverb and delay pedal with an unusual twist. The pedal treats the reverb and delay tails with formant filters, creating textures that sound like monks chanting—hence the name.\nThe delay side includes modulation capabilities, and you can mix and match reverb with delay in creative ways. Both effects feature infinite feedback modes, but unlike typical freeze functions, you can continue feeding new audio into the infinite tails, creating evolving soundscapes.\nThe pedal embraces a deliberately unsafe digital design philosophy—massive amounts of distortion are available, though the unit compensates output volume to prevent ear damage. This digital effect doesn’t play it safe, encouraging experimentation and boundary-pushing sounds.\nBoutique Artistry: Guitars as Visual Statements\n￼\nThe boutique guitar section at NAMM showcased instruments that blur the line between practical playing tools and pieces of art.\nI spoke with William Parent Senez of Senez Guitars, who draws inspiration from Art Nouveau and Gaudi architecture, creating guitars with expressive curves and elegant aesthetics.\nI also had the chance to catch up with my friend Bruno from Bacci Guitars, who has spent the last nine years developing the Tosca—a remarkable hybrid that bridges the gap between acoustic and electric guitar. The challenge wasn’t just combining both worlds, but doing so without relying on piezo systems. Instead, the Tosca captures the genuine acoustic resonance of its hollow body construction alongside authentic electric pickup tones.\nUsing custom Kloppmann mini-humbuckers specifically voiced for the Tosca’s skeletal chambering system, with knobs and pickup covers designed to match the instrument’s architecture, every detail serves the guitar’s dual nature.\nThe result is an instrument with tremendous character that doesn’t sound like anything else. It’s the kind of guitar that inspires you to play different things while making familiar material sound fresh—a true hybrid that successfully delivers both acoustic resonance and electric articulation in one thoughtfully designed package.\nHonorable Mentions: More NAMM Highlights\n￼\nThe gear covered above represents just some of the incredible innovations at NAMM 2026. The show floor was packed with remarkable instruments and effects that deserve recognition, even if time didn’t allow for deeper exploration.\nThe Collings Ladybird proved that premium craftsmanship can elevate any tonewood. Built with poplar—a material often overlooked in high-end guitars—the Ladybird demonstrated that construction quality and design matter as much as exotic wood selection. There’s something special about how this guitar responds, showcasing Collings’ ability to bring out the best in every material they work with.\nThe Source Audio Encounter overdrive paired with the Zio preamp pedal demonstrated how thoughtful gain staging creates exceptional tone. The variety of boutique builders showcasing their artistic visions proved that the electric guitar remains a canvas for creativity and innovation.\nThese were just some of the amazing brands and builders encountered across the show floor—each one contributing to what made NAMM 2026 such a memorable experience.\nFinal Thoughts\nNAMM 2026 continued the show’s tradition of presenting both cutting-edge technology and timeless craftsmanship. Whether you’re drawn to LED learning systems, MIDI integration, boutique artistry, or amplifiers designed by legendary engineers, this year’s show floor offered something compelling for every type of player.\nThe most exciting gear doesn’t always represent the biggest technological leap—sometimes it’s about thoughtful refinement, creative problem-solving, or simply building something with enough character to inspire new musical ideas. That’s what makes NAMM special: it’s where innovation meets tradition, where practical tools sit alongside artistic statements, and where the future of guitar playing takes shape one booth at a time.\nSee you next year!\n\n---\n\nHere is the transcript:\n{{ $('Youtube Transcript').item.json.transcript }}\n___\n\n## EXISTING BLOG POSTS (for internal linking)\nNaturally link to 2-3 of these within the article body where relevant.\nOnly link where it genuinely makes sense — never force it.\n\n{{ $json.internalLinks }}\n___\n\n## PAUL'S COURSES AND PRODUCTS\nEnd the article with a brief section recommending relevant courses.\nOnly mention courses that are genuinely relevant to the video topic.\n\n- **Learn, Practice, Play** (https://pauldavidsguitar.com/learn-practice-play/) — For complete beginners. A step-by-step roadmap covering fretting, strumming, fingerpicking, chords, scales and music theory through 55 video lessons, tabs, and backing tracks. Rated 4.98/5 by 36,000+ guitarists. Best recommended when the video covers beginner fundamentals, basic technique, or \"getting started\" topics.\n\n- **Next Level Playing** (https://pauldavidsguitar.com/next-level-playing/) — For intermediate guitarists who have hit a plateau. A 7-level roadmap covering music theory, improvisation, fretboard navigation, scales and soloing through 35+ video lessons. Rated 4.98/5 by 40,000+ guitarists. Best recommended when the video covers theory, improvisation, scales, or breaking out of a rut.\n\n- **Electric Elevation** (https://pauldavidsguitar.com/electric-elevation/) — For intermediate guitarists ready to become advanced electric players. Focuses on expression, fluency and the subtle techniques that separate good players from great ones — the kind of playing heard in Knopfler, Gilmour and Mayer. 26 video lessons, tabs and backing tracks. Rated 4.97/5 by 6,000+ guitarists. Best recommended when the video covers electric guitar techniques, tone, soloing or advanced concepts.\n\n- **Acoustic Adventure** (https://pauldavidsguitar.com/acoustic-adventure/) — For motivated guitarists wanting to master the acoustic. Covers fingerpicking, palm muting, percussive techniques, chord voicings, and acoustic styles through 68 video lessons. Rated 4.97/5 by 26,000+ guitarists. Best recommended when the video covers acoustic guitar, fingerpicking, or acoustic-focused techniques.\n\n- **Loop School** (https://pauldavidsguitar.com/loop-school/) — For any level guitarist wanting to master the loop pedal and become their own band. Covers timing, layering, chord voicings, and composition through original loops and in-depth lessons. Rated 4.96/5 by 5,000+ guitarists. Best recommended when the video covers looping, composition, or creative guitar playing.\n\n---\n\nBased on the YouTube video transcript and context provided above, write an SEO-optimised blog article in the same tone and style as the example. Return as a JSON object with these fields:\n- seo_title (max 60 characters)\n- meta_description (max 155 characters)\n- slug (URL-friendly, e.g. how-to-play-jazz-chords-guitar)\n- focus_keyphrase (primary keyword)\n- article_body (full HTML with h2 headers, [EMBED_VIDEO] placeholder after intro)\n"}]},"simplify":false,"options":{"maxTokens":8000}},"type":"@n8n/n8n-nodes-langchain.anthropic","typeVersion":1,"position":[832,-32],"id":"a2cbbc49-0a53-4441-af56-56304cd2943f","name":"Message a model","credentials":{"anthropicApi":{"id":"VFj4v8ssxlUm45u5","name":"Anthropic account"}}},{"parameters":{"url":"https://pauldavidsguitar.com/wp-json/wp/v2/posts","sendQuery":true,"queryParameters":{"parameters":[{"name":"per_page","value":"100"},{"name":"status","value":"publish"},{"name":"_fields","value":"title, link"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[432,-32],"id":"97da0e05-c618-4cfb-bc61-d561f76512cf","name":"Get Posts"},{"parameters":{"jsCode":"const posts = $input.all().map(item => `- ${item.json.title.rendered}: ${item.json.link}`).join('\\n');\n\nreturn [{ json: { ...$input.first().json, internalLinks: posts }}];\n"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[640,-32],"id":"33eea162-f315-4c33-9d46-2b7f42288d2e","name":"Flatten post links"},{"parameters":{"jsCode":"const raw = $input.first().json.content[0].text;\nconst cleaned = raw.replace(/```json\\n?/, '').replace(/```$/, '').trim();\nconst parsed = JSON.parse(cleaned);\n\nreturn [{ json: parsed }];"},"type":"n8n-nodes-base.code","typeVersion":2,"position":[1184,-32],"id":"133f7d1b-886e-4628-b2d0-6fbd0840b652","name":"Code in JavaScript"},{"parameters":{"url":"=https://img.youtube.com/vi/{{ $('Extract Video ID').item.json.videoId }}/maxresdefault.jpg","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.4,"position":[1392,-32],"id":"e707f3fd-f322-4945-9cff-0ecafdd40d04","name":"HTTP Request"}],"connections":{"RSS Feed Trigger":{"main":[[{"node":"Extract Video ID","type":"main","index":0}]]},"Extract Video ID":{"main":[[{"node":"Youtube Transcript","type":"main","index":0}]]},"Youtube Transcript":{"main":[[{"node":"Get Posts","type":"main","index":0}]]},"Get Posts":{"main":[[{"node":"Flatten post links","type":"main","index":0}]]},"Flatten post links":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"Code in JavaScript","type":"main","index":0}]]},"Code in JavaScript":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Code in JavaScript":[{"json":{"seo_title":"Dweezil Zappa's Pentatonic Secrets: Break Out of the Box","meta_description":"Dweezil Zappa reveals mind-blowing pentatonic techniques that transform familiar scales into otherworldly sounds. Learn his three-string cluster approach.","slug":"dweezil-zappa-pentatonic-secrets-break-out-of-the-box","focus_keyphrase":"pentatonic guitar techniques","article_body":"<p>Everybody says break out of the pentatonic box. But what if there's still more inside the box that we've never discovered?</p>\n\n<p>That's exactly what Dweezil Zappa—Grammy-winning guitarist and son of the legendary Frank Zappa—showed me when we met at NAMM 2026. What started as a chance encounter in the final minutes of the show turned into an impromptu session at Hikari Studios in LA, where Dweezil revealed some of the most mind-blowing pentatonic approaches I've ever heard.</p>\n\n<p>The techniques he shared don't require learning new scales or memorizing complex patterns. Instead, they transform the pentatonic scale you already know into something that sounds completely otherworldly—like a piano, like a Yes song, like something from another dimension entirely.</p>\n\n[EMBED_VIDEO]\n\n<h2>The Three-String Cluster Approach</h2>\n\n<p>Most guitarists play pentatonic scales the traditional way—two notes per string, moving up and down in familiar box positions. Dweezil's approach turns this on its head.</p>\n\n<p>Instead of two notes per string, try placing one note on each of three strings. Take the A minor pentatonic and spread three consecutive notes across the G, B, and high E strings. Suddenly, you get this beautiful ringing quality where all three notes sustain together.</p>\n\n<p>\"It's like a piano almost,\" Dweezil explained, \"because they ring out and usually you cannot have this in the pentatonic scale.\"</p>\n\n<p>The magic happens because guitar players typically mute notes as they move through scale patterns. But when you spread notes across three strings and let them ring, you create chord-like textures from a simple five-note scale. The sound is immediately more sophisticated, more musical, and far more interesting than standard pentatonic runs.</p>\n\n<h2>Moving the Clusters Horizontally</h2>\n\n<p>Here's where it gets really exciting. Once you've found one three-note cluster, you can move the entire shape horizontally across the fretboard while staying within the pentatonic scale.</p>\n\n<p>Start with your first cluster position. Now shift to the next set of pentatonic notes using the same one-note-per-string approach. Continue moving up the neck, and suddenly you're playing pentatonic in a way that sounds completely different from anything you've played before.</p>\n\n<p>\"That is beautiful,\" I told Dweezil when he demonstrated this. \"And it's just pentatonic.\"</p>\n\n<p>\"Exactly,\" he replied.</p>\n\n<p>The technique becomes even more powerful when you reverse directions within phrases. Play a cluster ascending, then descend through the next position. This contrary motion creates melodic interest that the ear interprets as far more sophisticated than simple scale runs—even though you're still playing the same five notes.</p>\n\n<p>Add some delay to these patterns and they transform into ambient, almost ethereal textures. The sustain of the ringing notes combined with repeats creates layers of sound that don't feel like pentatonic playing at all.</p>\n\n<h2>Seeing the Neck in Three Sets of Two Strings</h2>\n\n<p>Dweezil shared a fundamental concept that shapes how he navigates the entire fretboard: he sees the guitar as three sets of two strings.</p>\n\n<p>\"The reason is if I do something on one set of two strings, I can do the exact same thing without having to think about finger changes at all if I split the octave,\" he explained.</p>\n\n<p>Here's the practical application: play a two-note-per-string pentatonic phrase on the low E and A strings. Now play the exact same fingering pattern an octave higher on the D and G strings. Then again on the B and high E strings.</p>\n\n<p>The ear hears something fascinating—the same four notes repeated across three octaves—but it sounds far more complex than it actually is. You're playing identical shapes, but the octave displacement creates the illusion of sophisticated melodic development.</p>\n\n<p>This approach relates directly to what I've explored in my article on <a href=\"https://pauldavidsguitar.com/stop-thinking-in-scales-why-your-solos-sound-boring/\">why thinking in scales can make your solos sound boring</a>. When you break free from linear scale thinking and start seeing geometric relationships across the neck, your playing becomes more musical and less mechanical.</p>\n\n<h2>The Octave and Unison Exercise</h2>\n\n<p>One challenge many guitarists face is not knowing where notes exist across the entire fretboard. Dweezil offered a brilliant exercise that solves this problem while building technique.</p>\n\n<p>Start by finding all the octaves of a single note—let's say A. You have A on the open fifth string, A at the second fret of the G string, A at the fifth fret of the high E string, and so on. Now add the unisons—places where you can play the exact same pitch on different strings.</p>\n\n<p>Combine octaves and unisons into a cycling exercise. Play an A, jump to its octave, find a unison, move to the next octave. The pattern creates a diagonal pathway across the neck that reinforces note locations while developing coordination.</p>\n\n<p>\"Now move that up a half step and see if it messes your mind up,\" Dweezil suggested.</p>\n\n<p>It absolutely does. The exercise reveals exactly where your fretboard knowledge has gaps. But as you practice it in different keys, you build genuine fluency—the kind of automatic knowledge that lets you find any note without conscious calculation.</p>\n\n<p>For those working on fretboard visualization, this exercise complements the approaches I've covered in <a href=\"https://pauldavidsguitar.com/next-level-playing/\">Next Level Playing</a>, where mapping the neck becomes second nature through systematic practice.</p>\n\n<h2>Adding Approach Notes for Melodic Interest</h2>\n\n<p>Once you've internalized the octave positions, Dweezil showed how to make them more musical by adding approach notes.</p>\n\n<p>Instead of jumping directly from one octave to the next, place a note in front of each target. Approach from below, approach from above, mix it up. Suddenly your technical exercise sounds like a composition—\"like a Yes song,\" as Dweezil put it.</p>\n\n<p>The exercise becomes tricky because you're now tracking multiple elements: the target octave, the approach note, and the position shift required to reach the next octave. But that complexity is precisely what makes it valuable. Your brain learns to anticipate where notes live while your fingers develop the muscle memory to get there smoothly.</p>\n\n<h2>Why This Approach Works</h2>\n\n<p>What makes Dweezil's pentatonic concepts so effective is that they don't require learning anything new. You already know the pentatonic scale. You've probably played it thousands of times. These techniques simply reorganize notes you already know into configurations you've never tried.</p>\n\n<p>The three-string clusters create ringing, piano-like textures. The horizontal movement across positions breaks the vertical box patterns most guitarists default to. The octave visualization builds genuine fretboard knowledge rather than position-dependent muscle memory.</p>\n\n<p>\"Sometimes there's still more in the box that we've never discovered,\" Dweezil said. That insight perfectly captures what these techniques offer—not an escape from pentatonic playing, but a deeper exploration of its possibilities.</p>\n\n<h2>Putting It Into Practice</h2>\n\n<p>Start with the three-string cluster concept. Find A minor pentatonic notes on the G, B, and E strings—one note per string—and experiment with letting them ring together. Move the cluster to the next position, then the next.</p>\n\n<p>Once that feels comfortable, try the same approach on the lower strings (D, G, B or E, A, D). The fingerings change slightly, but the concept remains identical.</p>\n\n<p>For the octave exercise, drone a bass note and find every octave of that note across the neck. Add unisons. Then add approach notes. Practice in A, then move to other keys to test your knowledge.</p>\n\n<p>These aren't quick fixes—they require genuine practice time. But they deliver something valuable: new sounds from familiar material, and a deeper understanding of how the fretboard actually works.</p>\n\n<h2>The Bigger Picture</h2>\n\n<p>Meeting Dweezil at NAMM reminded me why those chance encounters at gear shows can be so valuable. We spent the final moments of the show floor discussing how we each visualize the neck, and that conversation led directly to this studio session.</p>\n\n<p>For more on what else emerged from NAMM this year, check out my complete coverage of the <a href=\"https://pauldavidsguitar.com/best-of-namm-2026-led-fretboards-midi-guitars-and-boutique-innovation/\">best gear and innovations from NAMM 2026</a>.</p>\n\n<p>But the real takeaway from this session isn't about gear—it's about perspective. Dweezil has spent decades developing his approach to the instrument, learning from his father's boundary-pushing musical legacy while carving out his own technical mastery. His pentatonic concepts prove that even the most fundamental musical material can yield new discoveries when approached with fresh eyes.</p>\n\n<p>The pentatonic scale isn't a limitation. It's a framework. And within that framework, there's far more territory to explore than most of us have ever realized.</p>\n\n<h2>Take Your Soloing Further</h2>\n\n<p>If Dweezil's approach to pentatonic playing resonated with you, my course <a href=\"https://pauldavidsguitar.com/next-level-playing/\">Next Level Playing</a> dives deep into fretboard visualization, improvisation, and breaking free from repetitive patterns. Through 35+ video lessons, you'll develop the kind of neck knowledge that lets you find new sounds in familiar scales—exactly what Dweezil demonstrated in our session. Rated 4.98/5 by over 40,000 guitarists, it's designed specifically for players ready to move beyond the plateau and discover what's really possible on the instrument.</p>"}}],"Youtube Transcript":[{"json":{"transcript":"That is beautiful. And it's just pentatonic. >> Exactly. >> This is Dweezel Zappa, Grammyinning guitarist and son of a legendary Frank Zappa, a technical visionary who has mastered the most impossible fretboard work in rock history. And today he's showing me some of the most mind-blowing pentatonic stuff I've ever heard. Everybody says break out of the pentatonic box, but sometimes there's still more in the box that we've never discovered. >> All right, let's get going. We are in the Hikari Studios. >> That's right. >> In LA. >> That's right. >> Joined by Dasel Zappa. Or I'm joining you more. >> Yes. Well, this is the best thing because I've talked about meeting you and never having crossed paths with you. I was like, I'd love to meet Paul because I love how you make your videos. I like the way that you >> are excited about the ideas and the enthusiasm. >> It it helps get people going, you know, and and I feel like that's an important part of anything in life. Anybody that's good at what they do and then a passion for what they do, it just makes life better. >> Yeah. Well, in that regards, we met at the N show yesterday. Yeah. Yeah, like literally at the end, the final minute, the lights went out and we're like, oh my god. And we started talking about the next and how we play and how we envision playing like guitar >> and we were like, let's make that into a video. And here we are literally for you guys. So, please leave a thumbs up. >> Yes. Show some support. >> Happened that fast. And you're like flying out to go home from LA very soon. So, I thank you for taking the time to come over and do this. >> Yeah. So, to get into the topic, we were actually discussing like how we envision the neck. For example, you had a super cool pentatonic approach that I just loved and I think everyone is going to love this. >> I love it. And I actually see the neck pentatonic pretty much only in one way across the entire neck. >> How can we break out of what if we put one note on each of three strings? And this is what I mean like look at it like a cluster. So normally you wouldn't think oh pentatonic, right? But watch this. It's like it's the same as doing that if you were playing. >> Uh it's just the scale. >> Yeah. But now we've put one note on one string, the next one on the next one, next one. >> Right. >> I love that sound. >> So you get And if you use your finger, it's like that's very different than going I know. I love that. It's like a piano almost, you know, >> because they ring out and usually you cannot have this in the pentatonic scale. >> Yeah. >> So, where do we go from here? I love this. >> So, here's the idea. Like, if you know how to get from A to A >> just on one string. And so, now if you want to move the whole thing. Woo. That is beautiful. And it's just pentatonic. >> Exactly. >> It sounds like otherworldly. So like this. >> Yeah. >> And then >> Yes. Exactly. >> Cool. >> So, >> and what I like that you did there was you reversed the direction. So you did this. You went >> Yeah. And then you could go, \"Oh, yeah, of course.\" Yeah, >> it is tricky. It messes with the brain a little bit. >> What we're seeing now is that each string is moving independently like this. So, we have and this one is and this is >> Yeah. Okay. Yeah. Yeah. Right. Mixed together. >> That's another way that you could also look at the pentatonic uh if you were playing it though. >> Oh, yeah. So, >> oh yeah, so many ways to break out of this simple pattern. I love this. So, if we finish that lick all the way up going in opposite direction. So, can you play that? >> Yeah, sure. So, we're starting here with this cluster >> and then we're moving here. Then we move here. >> That's beautiful. >> Yeah. And then this one is this one is also very pretty because you have that. >> Yep. >> Yeah. And if you put delays and stuff on this, it sounds really good. >> Or some bass notes. >> Yeah. >> And >> Yeah. >> Oh, it's beautiful. I love this. >> Right. >> Such a new way to find pentatonic sounds. >> Yeah. And then you can keep going. So you had that and then we have I like that one. >> Oh yeah, >> that's a puppet right there. Yeah, that's great. And then so the next one is where we started but it's the octave up. So now we'll be Gotcha. So this Yeah. >> And that's exactly the same as where uh >> Yeah. >> So in theory, you could do this on all strings. >> Yes. It does change the the fingerings and some of them get actually pretty Allen Holdsworth like >> so I can show you what it >> So wait, this means we have to practice. >> Yeah. >> Oh no. Please. No. >> So like on the next set of strings with the B, G, and D. >> Yeah. We have some similar shapes. >> Oh, how would it sound if you play them together? >> So, you play the ones I just showed you and then I'll just play these on top of it. >> Yeah, we do string by string, right? >> Do you want to do it like this? >> Arpeggiated. Yeah. Yeah. Yeah. >> Like that? >> Let me try. Okay, you do this. Okay. 3 4 >> Yeah, there we are. >> Yeah. And you know, the thing is it'll also tell you how well your guitar is intonated. >> Oh, this is where it gets really crazy. Let's I'll I'll try to do it like completely horizontally this way. So, So you get this. >> Oh yeah. So it's all these same shapes that we've just learned, but you have to figure out where they all map out. But it's we're playing only the notes from the A minor pentatonic, which you could also see like I see the guitar as three sets of two strings. And the reason is if I do something on one set of two strings, I can do the exact same thing without having to think about finger changes at all if I split the octave. So if I just did two notes per string right here in the key of A. >> Yeah. >> And I do it again at the octave. >> Oh, >> and I do it again. So, >> okay, let me try that one time. >> So, you're just playing the same lick at different starting positions. You see the root as sort of the core. >> Well, that's the thing is we've played the exact same notes in three octaves. >> Yeah. >> And the ear tells you that you're hearing something more fascinating. >> True. >> But it's still just the same four notes. So, we're still just playing A, C, D, E. That means you go and then you position shift and then you position shift again. >> So >> yeah, that's cool. You're sort of creating a diagonal scale almost. >> Well, the thing is I see them as all being pivoting off of the octaves. So if you look at where the anchors are, you have an octave here, you have an anchor here, and then you have an anchor here. >> Yeah. So you're really focusing on that that root note. That's your core, your home home base. >> Exactly. It's my home base for the the tone, but it's also the visual cue. So if I I'm not great at knowing exactly what note at any point on the neck. Like I never as a kid memorized every single note in every position. Now, I know there's a lot of players that can hear it and they know exactly what the note is. But I also know there's a lot of players who are very good players that cannot find even the octave. >> Play like a B flat on the G string. You would be like, okay, let's >> Well, I might have to in the case of uh B flat on the G string, I might have to think where do I know one place where I can hit a B anywhere. And then I would like okay uh I would have to find that. So if I on the G string, I would think, okay, I know where that B is. So I just have to make it flat. >> Oh, okay. Sure. >> Right. >> But I wouldn't immediately go to B flat. I'd go to B and then go, how do I make that flat? I feel like this is a problem that needs to be solved for a lot of guitar players because >> they feel like they get comfortable in certain places on the neck and as soon as somebody ask them to play in a key they're not comfortable with, >> they don't know where they are and they don't know what the notes are. So they can't find >> a way to maneuver themselves comfortably. And so one of the things I find that's helpful is to actually find exactly where your octaves are >> and also where your unison's are. >> Yeah. >> So that's one thing about the guitar that people often forget is that you could play the same note in so many different places. So if we're playing a here >> and that goes diagonally across the neck, right? >> Okay. Yeah. So we find that the unison's is just the same note unison. >> Right. >> Right. So here's the thing. If you now combine this into an exercise where it's the octaves plus the unison and you do a cycle of it like this. If you know that you want to just target a Right >> there we are. Okay. >> Now move that up a half step and see if it messes your mind up. >> Keep going. >> Okay. >> See, it does. It's like at a certain point your brain goes, I don't trust it. >> Yeah. >> And and you hit like a just a half step higher. >> Yeah. So, I'm trying to work on exercises for just my left hand that I can try to almost automate to know, okay, if I want to hit an A and I want to do this only left hand, >> oh, >> this is brutal. But as I get better at it, what I'm finding is that I will have actual better connection to the string. I'll have better finger tone on the fretboard. >> Yeah. >> And I will then also know where my fingers are going. So it makes the picking easier. But if you took that idea and you said, \"All right, let me get all the way from this octave to this octave.\" And you use unison to get you there. It would look like this. And then you get this octave here. >> Oh, you repeat it octave higher. >> There you go. >> Sounds like a song almost. So, and then one other last thing to to make this a a little bit more fun exercise >> is if you know where these octaves are, >> you could put a note in front of it. And so even like this sounds like a yes song. >> Yeah. But try that one. It's actually kind of fun. >> But from a a repetitive skill, >> it's tricky. >> Well, it's tricky, but but that one's actually like a little bit more satisfying than the other one. >> Some melodic action going on. >> But the the thing that's most important about it is recognizing that this will give you a much better idea of where notes exist. So, if you know that's an A and that's an A and that's an A, now you're going to start seeing the notes that you need to find on the neck easier if you don't already know them, which is kind of what we were talking about before. >> Like breaking barriers, right? That's that's basically what we're doing. Like >> Yeah. Well, everybody says break out of the pentatonic box, but sometimes there's still more in the box that we've never discovered. >> That's true. Yeah. Yeah. >> You know, so that's like this one. That's so >> Yeah, that's a fun one. But even that other thing that we were talking about earlier where yes >> that is just pentatonic on the G string. >> Yeah. So the whole idea of >> I play the chord. You you play the one. >> But watch this. If I have like a little sustain with this guitar cuz it has susteniac in it. Yeah. >> Yeah. >> This is it. >> That's the way to That's all you need. >> Yeah. So, just, you know, to wrap it up from my perspective of how I see the neck as a kid. That's how I learned to get from one place to another. I just would drone an a note and then I would just see like what note sounded good to that. So tension and >> yeah and if I heard the sound of the pentatonic >> I was like those are the notes there but then I did it with each string. So I was like well >> right and then you know up here. So, I was just always finding that I could see similar shapes. >> Yeah. >> Uh, and I just started going, \"Wait a minute. >> If it's like that, then I don't have to really learn to memorize all these extra things. If I recognize there's only five positions, >> keep on repeating everywhere.\" Yeah. 100%. >> Then it made it easier. That's why I saw it in three sets of two strings. Now, obviously, you can have subsets in there, too. But but because of the way the guitar is tuned, the G string and the B string gets screwy sometimes. This is the same as this, >> right? So once you realize that there's different ways that you could, you can definitely start seeing where that stuff moves around. So you start seeing that these unisons become very important. versus >> Yeah, >> it's a very different sound. >> Yeah, >> you know, >> absolutely. >> Very good, >> Dasel. You're the man. >> Thank you very much. >> Thank you so much. This has been fun. >> Uh yeah, follow this man. I'm sure we all know where, but also on YouTube, man. What's up? I've been doing some YouTube stuff. And by the way, very last thing, >> that tip on Smarvo. Very good. Yeah, >> I found it. I did. I found something excellent. I'm making some videos. Marvot tone is coming. >> Take care, guys. See you around. Good","hasTranscript":true}}]},"versionId":"c9b4aa46-3ddb-48ae-b35d-b47a9207edd8","activeVersionId":null,"versionCounter":216,"triggerCount":0,"tags":[],"shared":[{"updatedAt":"2026-03-03T18:18:21.370Z","createdAt":"2026-03-03T18:18:21.370Z","role":"workflow:owner","workflowId":"IOTNrOVJCTxsHzxR","projectId":"yZffGLJh3Mcgae7S","project":{"updatedAt":"2026-02-17T20:44:29.313Z","createdAt":"2026-02-17T20:44:09.508Z","id":"yZffGLJh3Mcgae7S","name":"oliver  weisfeld <oliver@courseconcierge.com>","type":"personal","icon":null,"description":null,"creatorId":"c4376ebf-92d7-46c1-b3e6-34dd627b8d0b"}}]}]